[2018-02-12 10:20] moufmouf opened #6 "Errors in STARTUP_COMMAND_XXX are not fatal"
When an error occurs in STARTUP_COMMAND_XXX, the container does still start.

It would be a better practice to halt the container if any startup command returns an error. Otherwise, the error might go unnoticed.

[2018-02-12 10:41] moufmouf commented on #6
Error in bug reporting.

This command seems to behave fine:

[code]

The exit 1 is correctly interpreted.

Closing.

[2018-02-12 10:41] #6 closed

[2018-02-23 12:59] gulien opened #8 "Xdebug remote host"
## Expected Behavior
When enabling the Xdebug extension with `PHP_EXTENSION_XDEBUG=1`, the Xdebug remote host should be set automatically.

## Current Behavior
The variable `xdebug.remote_host` is empty

## Possible Solution
More a workaround, but we are able to temporary fix this by using `PHP_INI_XDEBUG__REMOTE_HOST=ip/docker.for.mac.localhost`

## Steps to Reproduce (for bugs)
* Enable Xdebug w

[2018-02-26 16:50] #8 closed

[2018-03-26 08:47] moufmouf opened #19 "Extensions not installed when running Composer in Dockerfile"
[code]

If the composer.lock contains a package that requires "gd" to be enabled, "gd" will not be yet available (because it is enabled at container startup time only).

We should overwrite "composer" executable to make sure we enable the extensions before composer startup.

[2018-03-26 11:54] vaidiep opened #22 "PHP.INI file not taken into consideration"
If I copy a custom php.ini files in my container, its seems that it is not taken into consideration.

`COPY php.ini /usr/local/etc/php/php.ini`

[2018-04-04 16:05] gparant opened #23 "CRON STDOUT"
STDOUT not working for the cron. `> /proc/1/fd/1 2>/proc/1/fd/2` in file `generate_cron.php`

[2018-04-05 15:32] moufmouf commented on #23
Ok... first command run as sudo... so "sudo" gets PID 1. Apparently this prevents STDOUT from working.
By sending output to the PID of "tini" (7 in my case), this seems to work.
I'm working on tests and a script to detect "tini" PID.

[2018-04-06 10:34] moufmouf commented on #23
Fixed in #24 and #25

[2018-04-06 10:34] #23 closed

[2018-04-06 13:28] gulien commented on #22
It seems that our entry point is automatically overriding your php.ini file.
You should use environment variables instead of using your own php.ini!

@moufmouf can you confirm?

[2018-04-17 11:50] gulien commented on #19
Should this issue be closed?

[2018-04-17 15:53] moufmouf commented on #19
Hell yeah!

[2018-04-17 15:53] #19 closed

[2018-04-27 21:00] kasperg opened #27 "Cron job not running"
Thanks for sharing this. I wanted to try this out for a project but I am having problems getting cron jobs working.

## Expected Behavior

When I set `CRON_COMMAND` and `CRON_SCHEDULE` I expect the command to be executed as define by the schedule.

## Current Behavior

When these commands are set the `/etc/cron.d/generated_crontab` file seems to be generated as expected but as far as I can tell th

[2018-04-27 23:58] kasperg commented on #27
My original case turned out not to be working for a number of other reasons which caused the cron job to fail so I am closing this.

A lesson from this could perhaps be to make it easier to get error output from cron into the docker logs.

[2018-04-30 12:17] moufmouf commented on #27
Hey @kasperg !

I'm reopening your issue. I wrote a quick test and it seems indeed that output from cron is sent to docker logs, but not errors from cron.

I'll look into it.

[2018-04-30 15:17] moufmouf commented on #27
Ok, this was not as easy to solve as I had expected (https://github.com/thecodingmachine/docker-images-php/pull/28/files#diff-3799b1f42986a8b0c3012d9bbb330537R28), but that's solved.

Thanks for sharing your issue and taking the time to give some feedback!

[2018-04-30 15:17] #27 closed

[2018-05-02 14:50] #22 closed

[2018-05-04 08:00] moufmouf opened #32 "No default command for PHP-CLI"
There is no default command for PHP CLI. This leads to weird error message when called with no commands.

[code]

TODO: add a default command (maybe "php -a" ?)

[2018-05-04 15:08] moufmouf commented on #32
Fixed. Used "php -v" instead of "php -a" because "php -a" requires "-it" flags to work.

[2018-05-04 15:08] #32 closed

[2018-05-28 15:44] nguyenk opened #36 "Add support for php.ini variables containing special chars"
My php container that connects to redis (with password)
[code]

When I try to access redis session store, I get the following error :
```session_start(): open(tcp://redis:6379?auth/sess_p6rqfk7phj43d477k37d3iecb4, O_RDWR) failed: No such file or directory```

It seems that the the variable has been stripped after the equal sign.

[2018-05-29 10:36] #36 closed

[2018-05-30 15:44] WizMik opened #40 "Files ownership problem when running internal commands"
Hi there !

It seems that the "black magic" used for permissions has some "dark effects" :smile:.
When I execute a command whithin the container, the files generated from it belong to **root** and not to the **docker** user.

For instance, I have an Angular application in an _app_ folder mapped into _/var/www/html_. If i run `npm install` from the host, the owner will be the _docker_ user as expec

[2018-05-30 15:47] moufmouf commented on #40
Weird... are you having this issue on Ubuntu or Windows?

[2018-05-30 15:48] WizMik commented on #40
Ubuntu 18.04 !

[2018-05-31 14:00] WizMik commented on #40
Okay, it may happen when executing a STARTUP_COMMAND! Running npm -i as a startup command may be responsable for the ownership change before the container is available.

[2018-06-01 07:20] moufmouf commented on #40
Mmmm... STARTUP_COMMAND is supposed to be executed by the docker user...

https://github.com/thecodingmachine/docker-images-php/blob/7.2-v1/utils/docker-entrypoint-as-root.sh#L91

BUT: I found this in the code and I can't remember why.... :)

https://github.com/thecodingmachine/docker-images-php/blob/7.2-v1/utils/startup_commands.php#L17-L20

Do you happen to have an environment variable named UID

[2018-06-13 12:48] gulien opened #43 "Images using node10 do not exist"
See title 😄

Dockerhub tags: https://hub.docker.com/r/thecodingmachine/php/tags/

[2018-06-13 13:36] #43 closed

[2018-06-13 13:36] moufmouf commented on #43
o_O Damnit!
...
...
Fixed.

[2018-06-28 08:38] marcteyssier opened #46 "Crontab user must be root"
When the user is not root the cron isn't executed.
I try to create a file with this:
[code]
This work for root and not for other user.

[2018-06-28 08:48] marcteyssier opened #47 "Cron php not found"
In cron configuration, I try to apply php -v but php is not found by default.

[2018-07-25 09:04] moufmouf commented on #47
Fixed by new release.
See #49

[2018-07-25 09:04] #47 closed

[2018-07-25 09:05] moufmouf commented on #46
Fixed: #49

[2018-07-25 09:05] #46 closed

[2018-07-25 09:09] moufmouf opened #50 "Xdebug remote_host detection is broken on Windows"
On Windows, the remote_host detection does not seem to work.

- Docker version: (18.03.1-ce)
- compose 1.21.1
- windows 10 pro

[2018-07-25 09:09] moufmouf commented on #50
[code]

[2018-08-07 07:22] moufmouf commented on #50
Closed by #51

[2018-08-08 14:28] iSynth opened #55 "PHP-FPM versions is not works"
Hi there!

When I use the fpm version, the php-fpm process does not start and the container shutdown without any errors but with the output of sudo usages. In scripts that run automatically when the container starts, there are no commands to run the php-fpm process. Also, there is no launch of the php-fpm process in the Dockerfile.fpm file. I fixed it but your Dockerfile.fpm is not correct.

[code

[2018-08-08 14:34] moufmouf commented on #55
Hi @iSynth ,

Thanks for reporting this issue. I'll look into it.
To be honest, the "apache" and "CLI" variant have been extensively tested, but the PHP-FPM variant is almost untested and needs some work. I lack experience with PHP-FPM.

Would you care sending me the "Dockerfile.fpm" that works for you (or a PR)? I'll merge that as soon as possible.

[2018-08-08 14:53] iSynth commented on #55
@moufmouf

yep... soon I'll do a PR.

[2018-08-08 16:24] moufmouf commented on #55
Closed by #57
Thanks!

[2018-08-21 23:30] phrreakk opened #59 "Redis module does not seem to load with default values"
Your issue may already be reported!
Please search on the [issue tracker](../../../issues) before creating one.

## Expected Behavior

Redis module should be loading by default
## Current Behavior

Redis module does not load
## Possible Solution

## Steps to Reproduce (for bugs)

1. Run docker image with echo php modules `php -m`
Returns: php modules [PHP Modules] bcmath bz2 calendar Core ctype cur

[2018-08-28 10:09] mnapoli opened #60 "Install Blackfire"
That would be awesome if Blackfire was preinstalled in the Docker images. That would allow to profile PHP scripts very easily.

To make that happen the following needs to be done in the Docker images:

- install the PHP extension: https://blackfire.io/docs/integrations/docker#enabling-the-php-probe
- install the Blackfire CLI tool in the image too (to profile PHP scripts): https://blackfire.io/doc

[2018-08-28 16:39] moufmouf commented on #59
Hey @phrreakk .

I can't reproduce your error. When I run `php -m`, Redis extension is correctly loaded.

Could you send me the list of environment variable you are using in the container?

[2018-08-29 07:41] moufmouf commented on #60
Closed by #61 and #62

[2018-08-29 07:41] #60 closed

[2018-08-29 08:39] Fooriva opened #63 "Startup commands issues for some owners on the directory containing docker-compose.yml file"
There are issues using STARTUP_COMMAND in docker-compose.yml file (tested on Ubuntu 17.10).

With `STARTUP_COMMAND_1: composer install` :
[code]
With `STARTUP_COMMAND_1: npm install` :
[code]

**Solution :** my directory containing the docker-compose.yml file was owned by www-data:www-data.
Changing owning of the directory to ${USER} solved the issues.

[2018-08-29 15:04] mnapoli commented on #60
🎉 thanks!

[2018-08-30 13:20] moufmouf opened #64 "Modules lost in CI"
In a CI environment, if a project runs:

[code]

all custom PHP settings are lost (!)

This is because "sudo" loses all environment variables and because "composer" actually points to a script that will first regenerate php.ini conf (because we need to generate conf for "composer install" if run inside a Docker build where conf has not been generated yet)

We need to find a way to make sure the co

[2018-08-30 13:21] moufmouf commented on #64
Ping @Fooriva

[2018-08-30 14:30] moufmouf commented on #64
Fixed by #65

[2018-08-30 14:30] #64 closed

[2018-08-31 12:51] moufmouf commented on #63
Closed by #67

[2018-08-31 12:51] #63 closed

[2018-09-07 09:05] moufmouf opened #69 "Timezone issue with Crons"
Crons seems to be triggered at the UTC date (because the default timezone for the container is UTC, whatever the timezone of the host).

We should probably document this and provide guidance on how to set the timezone in a container.

[2018-09-26 10:10] lebacql opened #70 "Memcached issue"
Hello,

When enabling the memcached PHP extension, I get the following error:

[code]

My service:

[code]

[2018-09-28 19:46] #70 closed

[2018-10-08 07:13] kermorgant opened #75 "Permission denied issue when using php's internal web server"
## Expected Behavior

I'd like to use the php:7.2-v1-cli using php's internal web-server

## Current Behavior
Session files (like ``/usr/src/app/var/sessions/dev/sess_b769a9b5b9f1f3e2b57b739f5788aca9
``) are owned by root, triggering errors

## Steps to Reproduce (for bugs)
1. in a symfony project using the [web server bundle](web-server-bundle), use this docker-compose.yml
[code]
2. execute ``doc

[2018-10-08 07:26] kermorgant commented on #75
I got it working by changing the path for session files, in symfony's config_dev.yml :

[code]

[2018-10-08 07:48] kermorgant opened #76 "gnupg extension is missing"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Operating System and version:
* Link to your project:

[2018-10-08 12:14] kermorgant commented on #76
Hi @moufmouf

The modification I made on https://github.com/kermorgant/docker-images-php/blob/7.2-v1/Dockerfile.cli worked for me.

Would you accept a pull request with this for all the variants ?

[2018-10-08 12:18] gulien commented on #76
Hello @kermorgant

Could you open a PR for this change? 👍

You'll have to update the `Dockerfile.blueprint` file under `utils` folder.

[2018-10-08 12:49] gulien commented on #75
Weird.. When you run bash (`docker-compose exec php bash`), and list your files: who owns them?
It should be the user `docker`

[2018-10-08 19:55] kermorgant commented on #75
Hmm, my bad, sorry... I was removing the wrong files so old ones from previous docker image were causing the issue

[2018-10-08 19:55] #75 closed

[2018-10-20 21:24] a-ast opened #79 "Enabling amqp extension results in a broken setup"
## Expected Behavior
I expect that my configuration of a container:

[code]
is correct and creates a container with amqp extension enabled.

## Current Behavior

I'm running `docker-compose up` with the config above.
and see

[code]

and non-working container.

## Your Environment
* Version used: php:7.2-v1-cli
* Operating System and version: macOS High Sierra

[2018-10-22 09:44] moufmouf commented on #79
Hey @a-ast ,

Ok, I can confirm the issue.
I opened a PR with a unit test reproducing the issue: #80

Working on it!

[2018-10-23 07:33] moufmouf commented on #79
Fixed in #80 and #81.
Build is currently in progress. Please wait 1 or 2 hours for the builds to finish and AMQP should be fixed.

[2018-10-23 07:33] #79 closed

[2018-10-31 06:06] LiamKarlMitchell opened #82 "Installing PHP Image Magick"
How can I install image magick into this for use with PHP?

Maybe something like this?
[code]

Version: thecodingmachine/php:7.2-v1-apache-node10

Or should I do it as a start-up command or make my own dockerfile that inherits from yours?

To test if loaded a php file like this should output available formats.
[code]

The environment variable way
[code]

Gives me this error.
E: Package 'php-imagic

[2018-10-31 06:27] LiamKarlMitchell commented on #82
This appears to work.
Although looks messy and delays starting of the container a little.
[code]

[2018-11-01 10:51] moufmouf commented on #82
Hey @LiamKarlMitchell ,

Good to know you solved the issue.
I'm working on v2 of thecodingmachine/php right now. I'll make sure imagick is bundled with v2. This way, you'll be able to enable it with a single environment variable.

[2018-11-05 14:24] Stadly opened #83 "ZipArchive::setEncryptionName is not defined (ziplib is not up to date)"
[ZipArchive::setEncryptionName](http://php.net/manual/en/ziparchive.setencryptionname.php) should have been available since PHP 7.2. However, I get the error `Call to undefined method ZipArchive::setEncryptionName()` when using the function.

When checking out `phpinfo`, I see that `libzip` version 1.1.2 is used. [Research indicates](https://stackoverflow.com/questions/52693230/php-7-2-ziparchive-

[2018-11-07 16:24] moufmouf commented on #83
I see. I can reproduce the problem and indeed, the problem comes from libzip.

I'm not sure how to install a more recent version of libzip "cleanly" on the image.
The base image is a "debian stretch".

I know libzip is in version 1.3 in the experimental version of debian, but not in stretch (according to https://tracker.debian.org/pkg/libzip)

Have you got any idea how I could install libzip 1.2 o

[2018-11-08 10:42] moufmouf commented on #82
Hey @LiamKarlMitchell

Fixed this in v2 that is just released.
See #85
(build is in process, the image with imagick should be available in 1 hour)

[2018-11-08 10:42] #82 closed

[2018-11-08 11:38] LiamKarlMitchell commented on #82
Awesome thanks  :)

[2018-11-08 12:56] tworzenieweb commented on #82
The build is still failing, although thanks for your work. It will speed up my builds when fixed :D

[2018-11-08 15:03] moufmouf commented on #82
I'm still heavily working on v2 which is not fully stable. It should be more stable by tomorrow.

[2018-11-09 06:59] Stadly commented on #83
Sorry, I've got no idea :-/

[2018-11-15 09:58] georgeboot opened #89 "Image does not work on Bitbucket Pipelines"
## Expected Behavior
When I add `PHP_EXTENSION_INTL=1` to my bitbucket pipelines env variables, I expect the `intl` extension to be loaded.

## Current Behavior
Currently, it is not loaded. When I run `echo $PHP_EXTENSION_INTL`, it outputs `1`.

## Possible Solution
I think bitbucket only injects the user configured env variables after it has booted the container.

[2018-11-16 08:53] moufmouf commented on #89
Hey @georgeboot ,

That would be surprising to me (but I have never used Bitbucket).

Let's first try to rule out a problem on the Docker image. Could you let me know what version (what tag) of the image you are using?

[2018-11-16 09:29] georgeboot commented on #89
Yes I agree, but that's the only reason that makes sense to me.

I've already tried running the image locally, and I can confirm that the image is fine.

The output of `docker run -it --rm -e "PHP_EXTENSIONS=gd imagick intl" --name my-running-script thecodingmachine/php:7.2-v2-cli php -m` includes `gd`, `imagick` and `intl`.

Same for `docker run -it --rm -e "PHP_EXTENSION_INTL=1" --name my-runnin

[2018-11-19 08:19] moufmouf commented on #89
Hey @georgeboot ,

Ok, I found what is going on. Bitbucket overrides the "entrypoint" of the Docker image, but the thecodingmachine/php image is using this very same entrypoint to configure "php.ini" based on the environment variables.

See: https://community.atlassian.com/t5/Answers-Developer-Questions/Run-custom-entrypoint-command-in-Pipelines/qaq-p/516534

Maybe you could try to run the entrypo

[2018-11-19 08:25] moufmouf opened #91 "Image is highly dependent on entry-point but some tools disable it"
Some tools are preventing the "entrypoint" from being executed.

For instance:

- Bitbucket (see #89)
- PHPStorm (see https://youtrack.jetbrains.com/issue/PY-21733)

It could be great if we could avoid depending on the entrypoint. For instance by hooking on the "php" cli, the FPM program or the Apache program...

[2018-11-19 15:00] georgeboot commented on #89
@moufmouf I can confirm that this workaround actually works.

Output from a pipeline with `PHP_EXTENSIONS=gd imagick intl pcntl`

[code]

[2018-11-19 15:00] #89 closed

[2018-11-22 16:59] gulien opened #92 "Slim Image, ARG not working in multistage build"
Using this `Dockerfile`:

[code]

No errors, but the process says:

[code]

[2018-11-23 08:32] gulien commented on #92
Ok so the solution is actually quite simple: `ARG` should be the first instruction!

For instance:

[code]

[2018-11-23 08:33] gulien commented on #92
I guess we should update the documentation for this case! 😄

[2018-11-23 08:55] #92 closed

[2018-11-25 10:53] tehmaestro opened #94 "startup.sh issue sudo: source: command not found"
Hi, I created the following `startup.sh` file, but I get an error when running the container: `sudo: source: command not found`

I am using php 7.1, fat, apache. I'm trying to start the sshd service. Could you help me out?
[code]

https://unix.stackexchange.com/questions/202332/sudo-source-command-not-found/202334

[2018-11-26 10:06] moufmouf commented on #94
Hey @tehmaestro,

I can confirm I reproduce your issue. I'll look into it.

In the meantime, you can use the environment variable STARTUP_COMMAND_XXX to execute startup commands:

[code]

Note: I'm not sure the image contains a SSH server so this very command might not work. Are you sure you want to start a SSH server in the container? Usually, one would rather "exec" the "bash" command to connect

[2018-11-26 10:10] tehmaestro commented on #94
Hi, thanks for the info. Yes, I am already using the startup command as a workaround and it works!
I'm deploying my container to Azure WebApp for Containers and I followed their instructions for installing the ssh server and exposing port 2222, in order to be able to ssh into the container. I am already installing openssh

PS: Freaking awesome docker image. Really cool! Thanks.

[2018-11-26 12:44] moufmouf commented on #94
Thanks!

Issue is fixed. The image is currently building so you can "docker pull" the new image in about 40 minutes.

[2018-11-28 09:01] Zheness opened #96 "Links to images are broken in documentation"
See readme.md

[2018-12-05 11:20] tworzenieweb opened #101 "PHP max_execution_time is not respected"
[code]

## Expected Behavior
max_execution_time => 60 => 60
## Current Behavior
max_execution_time => 0 => 0

I don't know why is it like that. Any ideas:
[code]

[2018-12-06 10:14] moufmouf commented on #101
Weird... I'll look into it tomorrow.

[2018-12-06 10:34] tworzenieweb commented on #101
I was also surprised. I went through all the ini config. I also changed the values directly in the container. What was important that there were local and global values for this directive (for web version of phpinfo()) and global was correct, but local was always zero.

Greping for the directive string in filesystem didn't also bring the answer.

[2018-12-06 10:37] tworzenieweb opened #102 "Imagick for slim image"
I noticed that Imagick extension cannot be enabled (it is not on the list of available extensions) when slim container is used. Can that be fixed somehow?

Fat image works fine with this extension

[2018-12-07 13:02] moufmouf commented on #102
Just to be sure I understand your issue...

The slim image does NOT contain the imagick extension (it contains absolutely no extension out of the box). The idea of the slim image is that it should be used in a `Dockerfile` to build a new image that contains only the extensions you want.

**Dockerfile**
[code]

The image built with the Dockerfile above should contain imagick. Did you try building s

[2018-12-07 13:06] moufmouf commented on #101
Ok, got it. It's not a bug, it's a feature :)

Out of the box, PHP puts the max_exection_time setting to 0 in CLI. This is part of the doc: http://php.net/manual/en/info.configuration.php#ini.max-execution-time

The parameter should work ok in Apache or PHP-FPM though.

In CLI mode, you can still set it manually in your PHP script as explained here: https://stackoverflow.com/questions/5874950/set-

[2018-12-07 13:06] #101 closed

[2018-12-07 13:07] moufmouf commented on #96
Fixed.

[2018-12-07 13:07] #96 closed

[2018-12-07 13:07] moufmouf commented on #59
Closing since no answer. Do not hesitate to reopen the issue if it still hapens.

[2018-12-07 13:07] #59 closed

[2018-12-07 20:55] jobleadsorder commented on #102
[code]

[2018-12-07 20:57] tworzenieweb commented on #101
Ok my bad. Giving cli as example was wrong. But the same value is displayed for phpinfo page in apache and this is a bug :)

[2018-12-08 20:10] tworzenieweb commented on #102
sorry wrong account but the output is the same - the build is not allowing me to chose that particular extension

[2018-12-10 17:27] mhemrg opened #103 "Dynamic PHP_EXTENSIONS"
Hi, great job :+1:
I want to set `PHP_EXTENSIONS` variable dynamically in my Dockerfile.

[code]

But Docker doesn't allow it. Can you please help me to do it?

[2018-12-27 17:34] cbalda opened #105 "XDEBUG remote host detection fails in V2"
The 'host' command use to define xdebug configuration doesn't exists in the image.
So, ```DOCKER_HOST_INTERNAL=`host -t A host.docker.internal | awk '/has address/ { print $4 }'```` can't be proceed.

[2018-12-28 11:09] moufmouf commented on #105
Fixed in #107

[2018-12-28 11:09] #105 closed

[2018-12-28 11:17] moufmouf commented on #103
Hi @mhemrg ,

What are you looking to do exactly? And what base image are you using?

If you are using the fat image, I guess this should work?

Could you show me more of your Dockerfile?

[2019-01-02 12:57] mhemrg commented on #103
Yes, I'm using the fat image.
It seems that Docker doesn't allow to run a bash script to get the value for an environment variable.
Here is my Dockerfile: https://github.com/liara-ir/laravel-platform/blob/master/Dockerfile
You can see that I've commented out that line.

[2019-01-04 15:18] moufmouf opened #109 "Automatically register Github access token"
It is a quite common need to add a Github access token to Composer.
It could be interesting to have an environment variable that does this automatically.

[code]

This might be automatically registered on startup. See: https://github.com/composer/composer/blob/master/doc/articles/troubleshooting.md#api-rate-limit-and-oauth-tokens

[2019-01-06 06:41] verbruggenalex opened #110 "Feature Request: Cloud9 IDE"
First off, I want to say this is by far the best docker environment I've ever seen around. Super dynamic, easy to use and very extensive. I was just wondering if you would consider adding a dev image that includes the Cloud9 IDE. If this was a possibility then I could trow out my PC forever:

<a href="https://ibb.co/6nd84nv"><img align="right" width="320px" src="https://i.ibb.co/ZLZShLH/2019-01-07

[2019-01-07 06:43] ghost commented on #110
I have a question regarding the startup:

`CMD /usr/bin/node /home/docker/cloud9/server.js -l 0.0.0.0 -p 8080 -w /var/www/html -a :`

Where would I put this in the Apache images? I'm not sure as the startup system is quite complicated.

[2019-01-07 14:25] moufmouf commented on #110
Hey @verbruggenalex ,

Thanks a lot for the feedback!

I've never used Cloud9 IDE and to be honest, I'm not sure it makes sense to add this to the base images (they are more focused on the PHP language only).

That being said, I think it is a great idea to create a sub-image of thecodingmachine/php with the Cloud9 IDE integrated, and I'm definitely willing to help you if you want to give it a try.

[2019-01-07 16:20] ghost commented on #110
Thanks @moufmouf . I understand you wanting to keep the images as lean as possible. I'll take the sub-image route. One of these days I'll give you a repository so you can check it out. I'll close this issue now and  leave the link to my repo when I'm done.

Thank you for startup command advice. That's simply super nice to have. Not needing supervisord or forever to run stuff.

[2019-01-07 16:20] #110 closed

[2019-01-07 20:15] ghost commented on #110
I created a repository for the images I was talking about. I will be cleaning up this repository in the coming weeks: https://github.com/verbruggenalex/php-c9

[2019-01-08 06:00] verbruggenalex opened #111 "Missing mysql-client on fat image"
## Expected Behavior
I was expecting to see mysql-client on the fat image since mysql is the default database extension.

## Current Behavior
Unable to make cli mysql database connections.

## Possible Solution
apt-get install mysql-client

## Steps to Reproduce
1. which mysql

## Context
You probably have a reason for not including mysql-client. But I wanted to ask anyway. I have no problem addin

[2019-01-08 11:55] verbruggenalex opened #112 "Missing PECL uploadprogress on fat image"
## Expected Behavior
When using image for Drupal I expect to see the PECL uploadprogress library on the image.

## Current Behavior
Not present. Drupal status report page mentions it not being enabled.

## Possible Solution
[code]

## Context
This is really dependent on whether your project requires the uploadprogress library. Just thought I'd share with you my work.

## Environment
* Version used

[2019-01-08 12:45] moufmouf commented on #111
Hey @verbruggenalex ,

Indeed, mysql-client is not installed on purpose. Otherwise, there would really be no valid reason not to install also a postgresql client or a mongo client.

But the most obvious reason is that I never really had a need for it. I'm using a MySQL container, and the MySQL container already has the mysql client in it. So if I want to do a MySQL dump, I can do it using the "mys

[2019-01-08 12:45] #111 closed

[2019-01-08 12:53] moufmouf commented on #112
I'll look into it.

Seems a pretty old extension. Last update is from 2015 and I cannot compile it using `pecl install uploadprogress`.

Build seems to be kind of working from the "master" branch but I'm kind of reluctant to rely on a master branch. Last tag is from 2011...

Is it used in latest versions of Drupal?

[2019-01-08 13:13] ghost commented on #112
Yeah well, Drupal 8 doesn't require it. But to enable upload progress it asks to install the library:
https://www.drupal.org/node/793264

Again this is just a proposition. I understand that you want to give generic php support. And you're correct in saying that it's pretty old and probably not many frameworks rely on it.

[2019-01-08 13:16] ghost commented on #111
Thx for the quick reply. I understand your way of working. I'll install it on my sub-image because my IDE requires mysql-client to connect to the other container. Since I'm not yet supporting docker in docker to contact the mysql container.

[2019-01-14 20:44] verbruggenalex opened #113 "Allow APACHE_DOCUMENT_ROOT to be set outside of /var/www/html"
## Expected Behavior
I think that `APACHE_DOCUMENT_ROOT` should be allowed to be set outside of `/var/www/html`. Since regular Apache configuration allows it.

## Current Behavior
Currently you can only set a subfolder of `/var/www/html`:
https://github.com/thecodingmachine/docker-images-php/blob/v2/Dockerfile.7.2.slim.apache#L77-L80

## Possible Solution
The solution would be to set the default t

[2019-01-22 08:22] Fooriva opened #115 "/var/www/html directory is owned by root on Php:7.2-v2-fpm image (Windows)"
## Expected Behavior
When I get inside the php-fpm container, my volume mounted in /var/www/html should be owned by "docker" user.

## Current Behavior
It's owned by "root" user instead.
Executing a `chown docker:docker /var/www/html` doesn't work, neither from the Dockerfile, nor from inside the container itself.

## Steps to Reproduce (for bugs)
Here is my Dockerfile :
[code]

And the "php" serv

[2019-01-22 11:09] moufmouf commented on #115
Hey @Fooriva !

Is this a real issue that prevents you from writing files?

In my experience, the ownership of files is not an issue on Windows and completely flacky on MacOS.

Basically, the mount points are owned by root BUT anyone can write in those mount point, whatever the current user is.
On MacOS, it's even worse, the owner changes randomly based on who did the last write. Yet, anyone can s

[2019-01-22 12:16] Fooriva commented on #115
Actually, the docker user can't **overwrite** cache files located inside the /var/www/html/tmp directory (Those are created in 755 mod owned by "root", as the rest of the /var/www/html directory is in 777 mod).

I'm currently looking to see if it can be related to a framework configuration issue.

[2019-01-23 11:19] Fooriva commented on #115
Well, I cannot make it work on Windows, as even setting in the framework configuration the "777" rights on the generated cache files, they are in 755 mod inside the container. As Docker for Windows does not allow modifying rights / owners on mounted volumes, I have no correct solution if the files are generated with wrong rights, and not owned by the "docker" user (which will try to overwrite them

[2019-01-27 20:57] beejaz opened #116 "Extensions isnt compiled and added when using Dockerfile.7.3.slim.fpm"
Hi,

Ive been struggling with this for a while now, I cant understand what Iam doing wrong.

Im using Dockerfile.7.3.slim.fpm with this structure:
/php-slim/Dockerfile
/php-slim/extensions
/php-slim/utils

And ive added ARG PHP_EXTENSION at the top of the Dockerfile:
ARG PHP_EXTENSIONS="gettext apcu opcache pdo pdo_mysql zip soap intl"
ARG INSTALL_CRON=1
FROM php:7.3-fpm-stretch

None of the exten

[2019-01-30 11:10] moufmouf opened #117 "Crons are not executed as correct user if there is a ";" in the command"
## Expected Behavior

[code]

There are 2 "id" commands run. They should both execute as the "docker" user.

## Current Behavior

First id is executed by "docker", second by "root".

This is because the command executed is:

[code]

[2019-01-30 16:15] #117 closed

[2019-01-30 17:16] moufmouf commented on #116
Hey @beejaz

I think you are not building from the thecodingmachine/php image :)

[code]

Your base image is the base php image instead of the thecodingmachine/php image.

Replace this with:
[code]

[2019-01-30 17:16] #116 closed

[2019-01-31 17:09] beejaz commented on #116
Hey @moufmouf

Thanks for the reply, I was thinking about that and looked at it. I was using https://github.com/thecodingmachine/docker-images-php/blob/v2/Dockerfile.7.3.slim.fpm and it says "FROM php:7.3-fpm-stretch" but all other was using FROM thecodingmachine/php:7.3-v2-fpm so I wasnt sure.

But now i know, thanks for the info! :)

[2019-02-04 15:22] #115 closed

[2019-02-04 15:48] moufmouf commented on #115
Still, that's weird... I faced the same issue a few days ago. I could not change any file because of right issues.
I unshared and shared again my Drive in the "Shared drive" settings of Docker and suddenly, I could change the files again. Could you try that?

[2019-02-13 21:20] loancorepro commented on #69
Has this been done or anyone have a way to setup the timezone?

[2019-02-14 16:39] moufmouf commented on #69
No, not yet. Issue is still open. I haven't had time to look at it.
It should not be terribly difficult though.

[2019-02-14 16:44] moufmouf commented on #69
Ok, I think I found a workaround.

You can pass the "TZ" environment variable to set the timezone in the container.

For instance:

[code]

[2019-02-15 06:09] laurin1 opened #122 "XDebug Extension Not Loading"
## Expected Behavior
XDebug extension is enabled

## Current Behavior
XDebug extension is not enabled

## Steps to Reproduce (for bugs)
Use this docker-compose.yml:

[code]

![image](https://user-images.githubusercontent.com/75857/52837786-c42ce080-30b5-11e9-95f5-ca961c897fb2.png)

[2019-02-15 08:51] #69 closed

[2019-03-07 10:08] moufmouf commented on #122
Hey @laurin1 ,

This is weird. I tried exactly what you did (I tested your docker-compose.yml) and it does work on my machine:

![image](https://user-images.githubusercontent.com/1290952/53948898-2b442080-40c9-11e9-8eef-2b649f933a22.png)

Could you pull the latest image and try again?

[code]

[2019-03-07 14:58] laurinkeithdavis commented on #122
Working now. Maybe https://github.com/thecodingmachine/docker-images-php/pull/124 fixed it?

[2019-03-07 16:02] moufmouf commented on #122
Not sure it is related.
But indeed, XDebug was updated to 2.7.0 by #124 so it might have had an impact.

Anyway, glad it is fixed now!

[2019-03-07 16:02] #122 closed

[2019-03-20 08:23] moufmouf opened #126 "Allow the configuration of a .htpasswd via environment variables"
A common need for test containers is to be protected by HTTP Basic authentication.

We could add support for a simple environment variable that enables configuring .htpasswd file.

[2019-03-21 16:19] okhick opened #127 "Error with PHP exif extension"
I've enabled the exif extension using `PHP_EXTENTION_EXIF: 1` and phpinfo() confirms that it is enabled. However, when I call `exif_read_data()` I get the following error: `Call to undefined function exif_read_data()`.

I've recreated the error on two separate machines. I've even gone as far as to run the code on a XAMPP stack to ensure my code works. I've been able to turn on other extensions--th

[2019-04-15 16:32] marcteyssier opened #128 "Add custom extension"
I use the image thecodingmachine/php:7.2-v2-apache (the 7.3 is not on docker hub), and I want to add a custom extension in php. I have a .so, but how can I add automatically in the extension directory and enable it ?

I found the extension directory but the name is /usr/local/lib/php/extensions/no-debug-non-zts-20170718/ and I don't know how can I automatically get it.

Is it possible to add easil

[2019-04-16 12:23] moufmouf commented on #128
7.3-v2-apache is on Docker hub!
![image](https://user-images.githubusercontent.com/1290952/56209102-01303780-6053-11e9-8339-d3978bf6c636.png)

The extensions directory is not likely to change if you don't change the version of PHP.
So you can assume it will always be the same directory and add the extension in this directory using a Dockerfile.

Out of curiosity, what extension are you trying to i

[2019-04-16 12:31] moufmouf commented on #127
Hi @okhick ,

Sorry for the delay. I've been trying to use the "exif_read_data" and it works for me, the function does indeed exist.

Could you double check your install? There is a type in the environment variable name in your post, it is not PHP_EXTENTION_EXIF but **PHP_EXTENSION_EXIF**. Maybe this is the source of your issue?

[2019-04-16 13:43] okhick commented on #127
Yes that was the solution. I figured that out a few weeks ago and forgot I had opened this issue! Sorry about that.

[2019-04-16 13:43] #127 closed

[2019-04-19 04:52] gerroon opened #129 "Can't use volume to map /var/www/html"
Hi

I am using

[code]

However I cant seem to be able to acces any of the webapps under `/media/var/www/html` I am not sure what I am missing here.

` "GET /webapp/ HTTP/1.1" 404 506 "-" "Mozilla/5.0 (X11; Linux x86_64; rv:60.0) Gecko/20100101 Firefox/60.0`

I am using Docker on Debian Buster x64
thanks

[2019-04-19 13:26] moufmouf commented on #129
This is weird, this should definitely be working.

The "/media/var/www/html" directory does exist on your host, does it?
Are there any chances Docker could have problems accessing the "/media" directory (maybe if this is a mounted drive with some weird file system?)
Could you try mapping a more classic directory?

What OS are you using?

This is most likely a mounting problem not related to the im

[2019-04-19 14:19] gerroon commented on #129
Thanks  I will take a look it, good to know it is a mount issue.

[2019-04-19 17:33] #129 closed

[2019-04-28 11:06] benr77 opened #130 "Curl SSL certificate missing?"
## Expected Behavior
PHP Curl requests to HTTPS URLs should succeed

## Current Behavior
Requests are failing

## Possible Solution
Looks like it's something to do with cacert.pem not being found
https://docs.bolt.cm/3.6/howto/curl-ca-certificates

## Steps to Reproduce (for bugs)

* Using image `thecodingmachine/php:7.2-v2-fpm`
* In a PHP script, use Curl to request an HTTPS url
* See error `SSL

[2019-05-06 09:53] moufmouf commented on #130
Hi @benr77 ,

That's weird, we have never had issues with HTTPS inside these images and on my projects, I can curl a https endpoint without problem.

Could you maybe share a PHP code snippet to reproduce the issue?

[2019-05-08 10:41] iquito opened #131 "pdo as extension does not exist"
In the documentation in almost all examples of building slim images the extension "pdo" is used - an example:

`ARG PHP_EXTENSIONS="apcu mysqli opcache pdo pdo_mysql redis zip soap"` directly under "Compiling extensions in the slim image".

But "pdo" is not a valid extension when trying to build the container - this is my output (for php 7.2 slim cli, the same with slim fpm):

[code]

I suspect th

[2019-05-08 11:32] iquito opened #132 "Amend documentation about CMD / ENTRYPOINT for CLI"
When using the CLI images, it is implied that you should set a CMD (and this is shown in the one CLI example via command line), but it would help if at least one docker compose example and/or Dockerfile example showed this explicitely - it could be a CLI example running phpunit, which would be a common use case.

I tried setting up an ENTRYPOINT instead of a CMD, which overwrote the ENTRYPOINT of

[2019-05-13 07:38] mbrodala opened #133 "PHP-FPM fails to open error log: Permission denied"
I try to launch a PHP-FPM instance using the `thecodingmachine/php:7.2-v2-fpm-node8` image but it fails due to some permission issue.

## Expected Behavior
When I execute `docker-compose up`, I should get a running PHP-FPM instance.

## Current Behavior
When I execute `docker-compose up` I get an error:

[code]

## Steps to Reproduce (for bugs)

1.
[code]
2. `docker-compose up`
3. See the error

I

[2019-05-13 08:30] mbrodala commented on #133
It seems like this is a common issue: https://github.com/moby/moby/issues/6880 https://github.com/lxc/lxc/issues/2234. Especially https://github.com/moby/moby/issues/31243 goes into more detail and I can confirm the issue:

[code]

so `/dev/pts/0` is owned by `1000:tty` without world write permissions. And at least the `usermod` fix seems to help:

[code]

[2019-05-13 08:49] mbrodala commented on #133
Adding `STARTUP_COMMAND_1: sudo chown docker /proc/self/fd/{1,2}` to my `environment` works around the issue for now:

[code]

This updates the owner ID of `/proc/self/fd/1` and `/proc/self/fd/2` from 1000 (default of `docker` user) to the ID determined at runtime (1001 in my case). (It also works if I do this for `/dev/stdout` and `/dev/stderr` instead.)

Maybe this should be added to the entrypo

[2019-06-06 11:45] benr77 commented on #130
Sorry for the lack of response. I've had to work on another project for a while. Should be able to get back to this issue and report something useful (or not!) in the next week or so. Thanks.

[2019-06-14 11:57] benr77 commented on #130
Ok, I've had a chance to revisit this issue. It is now working as expected. I think it may have been caused by a mis-configuration of the certificate on the server I was trying to access. I'll close the issue for now and re-open if needed. Thanks

[2019-06-14 11:57] #130 closed

[2019-06-20 13:01] moufmouf commented on #132
Hey @iquito ,

Thanks for the advices. Indeed, a bit of work on the documentation is always good.
I opened this PR. #137

[2019-06-20 13:01] #132 closed

[2019-06-20 13:04] iquito commented on #132
The PR solves this perfectly, thanks! And thanks for all the work on these great docker images in general, they are really useful.

[2019-06-20 13:09] moufmouf commented on #131
Good catch! This is indeed a documentation issue.

:+1:

Closed by https://github.com/thecodingmachine/docker-images-php/pull/138.

[2019-06-20 13:09] #131 closed

[2019-06-20 13:20] moufmouf commented on #133
Good catch! The strange part is that php-apache images are not hit by the problem. Only php-fpm images have the issue.
I'd like to add a unit test for this, but I'm not sure how to do this.
Anyway, I'll put the fix in the entrypoint as you suggested.

[2019-06-20 13:29] moufmouf commented on #133
Ok, [writing the test was actually quite easy](https://github.com/thecodingmachine/docker-images-php/pull/139/commits/c85074d4bbe8d695977406c749beb5942d609a94#diff-4e6d3e4aeb18ec09a3ebf45685bcb27e) with all the details you gave me. Thanks a lot for this very detailed issue.

Thanks to your work, it is a breeze to fix!

[2019-06-20 13:37] moufmouf commented on #133
Closed by #139.

[2019-06-20 15:20] #133 closed

[2019-06-20 16:10] moufmouf commented on #128
Also, on a side note, you can find automatically the extensions directory by calling: `pecl config-get ext_dir`

[2019-06-20 16:10] #128 closed

[2019-06-20 16:14] moufmouf commented on #112
Hey @verbruggenalex ,

I'm closing this issue as it is quite old. I don't have any plans to add `uploadprogress` as it is clearly unmaintained and will certainly lead to problems down the road as PHP evolves.

[2019-06-21 07:32] mbrodala commented on #133
Thanks for the fix! :-)

[2019-08-01 13:36] mbrodala opened #141 "Add PHP 7.0 for legacy applications"
## Expected Behavior
There could be PHP 7.0 versions of all images.

## Current Behavior
The minimum PHP version is 7.1.

## Possible Solution
Adding images for PHP 7.0.

## Context
To run legacy applications or prepare upgrades to newer versions it would be useful if PHP 7.0 could have the same Docker runtime as 7.1 and newer. This way one can start with a known state and then cleanly switch the

[2019-08-29 13:13] moufmouf commented on #141
Hey @mbrodala ,

Sorry but I have had similar questions regarding PHP 5.6 and I simply do not have the time nor the energy to provide support for a version of PHP that is deprecated. I already have enough work with the upcoming PHP 7.4 release :)
Furthermore, most of the extensions would fail to compile one after the other and that would make this version a lot of work to maintain.

Feel free to o

[2019-08-29 13:13] #141 closed

[2019-09-03 16:36] omarusman opened #144 "Request msgpack extension"
Please add/support **msgpack** in the extension list.  Thank you!

[2019-09-04 09:59] moufmouf commented on #144
Indeed, that could be a nice addition. I opened a PR with it here: #145

[2019-09-04 10:52] #144 closed

[2019-10-09 13:38] benr77 opened #146 "AMQP support for PHP 7.3"
What is the status of AMQP support in the PHP 7.3 images? The docs state that it is not yet supported in 7.3 but this was December 2018.

Thanks

[2019-11-07 16:38] that0n3guy opened #147 "[feature request] Add a process manager like supervisord"
It would be nice to have something similar to http://supervisord.org/introduction.html for keeping processes running.

I know I can add this by quickly building my own image, but this is default in a lot of other images I'm using and it would be nice just to have this.

Thanks!

[2019-11-08 02:49] polarathene commented on #147
It'd only make sense if the base image was using it by default to manage multiple processes wouldn't?

If you are wanting to use it, are you adding anything else for supervisord to manage? I've only really seen it in php images that include an additional process like nginx to manage in a single image. Docker itself will keep the main process running just fine without supervisord, and you can confi

[2019-11-08 15:39] that0n3guy commented on #147
I think it make sense because the image includes a cron alternative, which is used to run multiple processes within the container.

My example is using laravel's queue watcher.   Its often run with supervisord to keep it going if it bombs out.   The app I'm deploying uses queues and it makes sense to use it with supervisord.

[2019-11-08 16:40] polarathene commented on #147
supercronic is about 12MB in weight. There's go-supervisord for a binary golang version of supervisord, albeit it's not necessarily 1:1 parity with the python one, it's about 10MB(or 15MB statically linked). s6-overlay is like ~3MB.

Maybe you can get one of those on the fat images, or in the meantime, extend your preferred image with your own Dockerfile based off one here. Or fork the repo and se

[2019-11-08 18:14] that0n3guy commented on #147
Yeah, I'm fine with whatever. To match the rest of the containers features, it probably should be setup so it can be setup via env vars.

I've also used runit in here https://github.com/phusion/baseimage-docker (I don't know the size of it though) but I think its uber small.... but not _really_ the same thing, close though.

[2019-11-08 23:32] polarathene commented on #147
runit [seems to be <300KB](https://pkgs.alpinelinux.org/package/v3.10/community/x86_64/runit).

[2019-11-11 16:29] that0n3guy commented on #147
Winner winner chicken dinner.    I think its designed to be setup as process 1... so its beyond me to get into a container...

[2019-11-15 15:03] gio00 opened #148 "[Feature Request] rsync"
Could be possible to add rsync command-line utility? I am using this image in a CI and I would use rsync to move everything after all the tasks have completed.

[2019-11-27 01:20] Girgias opened #149 "PHP 7.4 images"
As PHP 7.4 is going to be released on Thursday, the 28th of November, will you be providing PHP 7.4 images?

[2019-11-27 08:51] moufmouf commented on #149
Hey @Girgias ,

Of course!
Usually, the base PHP Docker image we depend on is not immediately available. There is a delay of a few days before the base PHP Docker image is available, and then maybe one to 2 days before we release the thecodingmachine/php:7.4 images.

[2019-11-27 14:41] Girgias commented on #149
Good to know, just need to be a bit more patient then :)

[2019-12-02 18:12] #149 closed

[2019-12-02 18:14] moufmouf commented on #149
... aaand it's merged (see #150).
It still needs a bit of testing on real projects (planning to do that tomorrow).

It's pretty young and we changed a lot of things so don't hesitate to let me know if you find anything strange!

[2019-12-03 21:30] moufmouf commented on #113
This was a BC break change so I waited for v3 images to release this. This is implemented in the new v3 image.
See https://github.com/thecodingmachine/docker-images-php/pull/152/commits/3f0c4f4964f99e07f6ec46f80bb57380d24a2f95#diff-bf5448a20dea5f94057341c991830bed

[2019-12-03 21:30] #113 closed

[2019-12-04 08:38] #146 closed

[2019-12-04 08:38] moufmouf commented on #146
Indeed! I totally forgot to add it back.

This is fixed now (in the new images "v3")

[2019-12-04 09:53] ghost commented on #113
Thank you @moufmouf

[2019-12-09 13:59] iquito opened #159 "php-fpm not found in v3"
When using either `thecodingmachine/php:7.3-v3-fpm` or `thecodingmachine/php:7.4-v3-fpm` images (even without any options) I get the following output when starting the containers:

    sudo: php-fpm: command not found

The v3 images still seem very new, so maybe there is still missing something there? I thought I would give them a try to see if they work ;-)

[2019-12-09 15:47] moufmouf commented on #159
Geez... indeed, those v3 images are pretty new and we are still actively working on those and fixing bugs. Our plan for this week is to get those to a stable state.
Thanks for the issue!

[2019-12-09 16:02] moufmouf opened #160 "ini settings not honored for Apache and PHP-FPM"
When using PHP_INI_XXX environement variables, in v3 images, the ini settings are only applied to the PHP CLI, not to Apache2 or FTP environments.

[2019-12-09 16:16] iquito commented on #159
Nice, I will gladly try again as soon as there is something new to test. Thanks for the great work!

[2019-12-10 09:10] moufmouf commented on #160
Closed by #161

[2019-12-10 09:10] #160 closed

[2019-12-10 15:09] #159 closed

[2019-12-10 15:13] moufmouf commented on #159
Hey @iquito ,

I just updated the image to fix php-fpm issues.
I added some tests to be sure this does not happen again in the future.
I'm not a regular user of PHP-FPM so I might have missed a few details. Please let me know if you find anything strange.

Also, do not forget to `docker pull [image_name]` to update your image before testing!

[2019-12-10 15:13] moufmouf commented on #159
(note: the image is currently building, it will be available in 1 hour!)

[2019-12-11 00:54] iquito commented on #159
Yep it works! The only other thing I noticed is that sqlite is not available as a PDO driver - not sure why, as it is included by default if not explicitely excluded, but maybe there was a problem with it?

[2019-12-11 01:08] iquito opened #163 "Sqlite is missing in v3"
In v3 in PHP 7.3 and PHP 7.4 sqlite is missing both as a module (sqlite3) and as a PDO driver (pdo_sqlite), and I don't think there is any way to enable it, so I suspect this was unintentional. Both were available in v2.

[2019-12-11 01:08] iquito commented on #159
Opened a new issue for sqlite (https://github.com/thecodingmachine/docker-images-php/issues/163) after some further testing.

[2019-12-11 21:24] #163 closed

[2019-12-12 11:18] iquito commented on #163
Great thanks! It works perfectly.

[2019-12-12 11:28] iquito opened #165 "slim image cannot find extensions in v3"
The "fat" v3 image works great for me now, but the slim one still has some issues with extensions. I am trying it with a Dockerfile with the following first lines:

[code]

This results in the following output:

[code]

There seem to be a few extensions still missing in that list, `opcache` being the most obvious one, but also `pdo_mysql`, `pdo_sqlite`, `pdo_pgsql` and `mailparse`. Those are just

[2019-12-12 16:32] moufmouf commented on #165
Hey @iquito

Thanks a lot for the thorough feedback!

- `opcache` is now enabled by default (so you cannot install it in Slim, it is already there)
- `mailparse` is missing in PHP 7.3+. I need to fix this
- `pdo_mysql, pdo_sqlite, pdo_pgsql` are bundled with mysqli / sqlite3 / pgsql. I also need to make a kind of "alias".

Working on this in #166

I'm also adding a MIGRATING guide to ease those is

[2019-12-12 17:42] iquito commented on #165
Ok great! I will test again once the changes are ready. Thanks again for your efforts & fast fixes for these issues!

[2019-12-12 19:10] pascalwacker opened #167 "Documentation on changes from v2 to v3 missing"
## Expected Behavior
For v2 there was an amazing [blog article](https://github.com/thecodingmachine/docker-images-php), which broke down what the images do. Probably most of that is still up to date, but I can't find information on what changed in v3.

## Current Behavior
Currently there's no information available on what's new/changed from v2 to v3

## Possible Solution
Updating the v2 article wi

[2019-12-12 19:14] pascalwacker commented on #167
Possible to prevent issues like: https://github.com/thecodingmachine/docker-images-php/issues/165, by having an "upgrade v2 to v3 section"

[2019-12-13 08:17] #165 closed

[2019-12-13 08:36] moufmouf commented on #167
Hey @pascalwacker ,

Just read your issue now. I added a ["MIGRATING.md"](https://github.com/thecodingmachine/docker-images-php/blob/v3/MIGRATING.md) doc this morning to explain the differences between v2 and v3.

I plan on writing a blog post in the coming weeks.

[2019-12-13 08:36] #167 closed

[2019-12-13 12:02] iquito commented on #165
Works perfectly now, thanks!

[2019-12-16 08:47] WillyReyno opened #168 "v3 : pcntl functions are disabled by default in php.ini"
## Expected Behavior

On previous versions of the image the `disable_functions` setting in php.ini file was empty.

## Current Behavior

As of the newest version with php 7.4 (`thecodingmachine/php:7.4-v3-apache-node10`) this setting is filled with the following :
[code]

## Possible Solution

Set `disable_functions` as empty by default

## Context

I'm running a Laravel application with a queue m

[2019-12-16 09:02] moufmouf commented on #168
Looking at StackOverflow, it seems this functions are meant to be disabled for Apache, but not for CLI.

I'll need to check if the PPA provides different php.ini files for Apache and for CLI.

[2019-12-16 12:12] #168 closed

[2019-12-18 16:56] moufmouf opened #170 "Composer wrapper is a bash script and some programs expect it to be PHP"
The "composer" command is overwritten as a bash script.
This is useful because we need to enable/disable dependencies on the fly before running composer, based on environment variables.

However, there is a problem. Some programs (simple-phpunit actually) are expecting Composer to be a "PHP" program and nothing else. They are running composer using:

 `'/usr/local/bin/php' '/usr/local/bin/composer

[2019-12-19 08:07] #170 closed

[2020-01-04 20:48] Zheness opened #173 "Uncaught Error: Call to undefined function enableExtension()"
Hello,

I'm trying to use the image, but every time i got the same error and nothing runs.

I just installed Ubuntu, and docker. I have not containers, and no images (it's a new computer).

When I run the basic command:

[code]

Or any version 7.2, 7.3, slim, etc., I got the same error:

[code]

I remember having a similar issue on Windows, but i don't remember how i fixed (or if i found a solutio

[2020-01-05 16:18] moufmouf commented on #173
Hey Max,

I cannot reproduce this issue.

Maybe you are using an old image? (seems weird since the system is new).

Could you still try to run:

[code]

and try again?

If you are still facing the issue, try to look in the image and see if you can find a file named: "/usr/local/bin/utils.php"

Does it have a `enableExtension()` method???

[2020-01-06 18:57] Zheness commented on #173
Hello,
I finally found the problem...

I tried to mount my current `$PWD` folder into the `/var/ww/html` folder. But apparently, it doesn't work.
I need to add a subfolder with my files, and mount this folder, not the root one (`$PWD/my-website/:/var/www/html/`).

I don't have this issue when using the official php-apache image, maybe an error on your side when mounting folders ?

Thank you :)

[2020-01-07 12:12] that0n3guy commented on #147
Bumping this, I've run into another instance where I need a process manager.

[2020-01-08 09:59] xermus opened #174 "What is the preferred way to access logs?"
What is the recommended way to access the apache logs?

Mount /var/log to a local volume and then tail the apache2 logs?

I could not find anything in the docs about this.

[2020-01-08 10:02] gulien commented on #174
Apache logs are forwarded to `stderr` as far as I know. Simply run `docker logs -f your_container_id` 👍

[2020-01-08 12:13] xermus opened #175 "Memcached - Fatal error: Uncaught Error: Class 'Memcached' not found"
I have included memcached and by running phpinfo() I can also see that it is loaded. But when I want to load Memcached, it gives me an error.

[code]

Any idea what I am doing wrong?

[code]

[2020-01-08 12:18] xermus commented on #174
Thank you. Works.

[2020-01-08 12:18] #174 closed

[2020-01-08 12:38] moufmouf commented on #175
Interesting.

The issue is with the case of your environment variables.

I tried with:

[code]

but it gave me an error:

Then, I registered the "MSGPACK" extension and everything works alright:

[code]

I'll keep this issue open until we find a way to conditionnally enable "msgpack" when "memcached" is enabled.

[2020-01-08 14:48] xermus commented on #175
OK, Memcached can now be found. But:

I cannot get memcached to execute. Is localhost correct? Any ideas why it does not work?

[code]

The result is false and not "bar".

[2020-01-08 14:50] moufmouf commented on #175
I see. `PHP_EXTENSION_MEMCACHED` only installs the PHP Memcached **extension**.
You also need a memcache server (that you will add as a container in your docker-compose file).

Then, you mustn't use "localhost" (because the PHP container does not contain the memcache server). Instead, you must point to the URL of your new Memcache container.

[2020-01-08 14:58] xermus commented on #175
Oh, thanks for clarification. It now works. Here the full code in case anyone has the same problem:

[code]

and here is how to run Memcached:

[code]

[2020-01-08 14:58] #175 closed

[2020-01-08 18:56] xermus opened #176 "How can Apache be configured?"
What is the suggested way to configure *additional* Apache settings when launching the container(s) using docker-compose?

I have more than 10 rewrites I would like to setup, and they are looking like

[code]

I could not find anything about this in the docs.

[2020-01-09 08:24] moufmouf commented on #173
Could you:

- tell me what is the owner and the access rights of $(PWD)
- tell me what is the owner and the access rights of $(PWD)/my-website
- tell me what is the "id" of your current user?

[2020-01-09 10:06] bastnic opened #177 "Blackfire extension for 7.4 is released"
Seems ok now: https://blog.blackfire.io/php-7-4-support.html.

[2020-01-09 10:12] bastnic opened #178 "Request rdkafka extension"
Would you consider merging a PR adding [rdkafka extension](https://github.com/arnaud-lb/php-rdkafka)?

Careful, it needs package `librdkafka` installed.

[2020-01-09 13:48] #177 closed

[2020-01-09 13:50] moufmouf commented on #178
Salut Bastien! Long time no see!

A Kafka extension... good idea! I'll look into it!

[2020-01-09 13:54] bastnic commented on #178
Salut David, tout roule ? ;). Thanks for this repo!

If you want to make the PR yourself, don't hesitate :D. You will be faster than me.

[2020-01-09 13:56] moufmouf commented on #178
Tout va bien :)

No problem, I'll look into the PR, it's only a few lines of code.
I'll submit the PR in a few minutes!

[2020-01-09 15:24] #178 closed

[2020-01-09 15:42] moufmouf commented on #176
Could you put those in a ".htaccess" file (that would work and I usually do this) or do you explicitly want to put that in the Apache settings?

[2020-01-09 16:47] xermus commented on #176
Not a bad idea (as it could be put into Git).

Are .htaccess files by default enabled? (I put my rewrites into a .htaccess file and they were not working out of the box)

[2020-01-09 17:00] moufmouf commented on #176
Yes. I did enable reading `.htaccess` files by default (as this is quite a common need)

[2020-01-11 11:45] Zheness commented on #173
Hello, my permissions are normal:
[code]
and my `id`:
[code]

Even using `sudo docker-compose up` it doesn't work. It still get stuck when mounting volume and fails...

[2020-01-13 21:07] moufmouf commented on #173
This is so weird. Is anyone else getting the same error?

[2020-01-13 21:19] moufmouf commented on #176
Closing this. Let me know if you are still facing the issue, I'll reopen it.

[2020-01-13 21:19] #176 closed

[2020-01-14 18:35] xermus commented on #176
Sorry to open it again.

When I put

[code]

in a file named .htaccess in my root folder it will not show anything when I call

http://localhost/file/12345678/

Error message:

Not Found
The requested URL was not found on this server.
Apache/2.4.29 (Ubuntu) Server at localhost Port 80

Can you maybe share a simple .htaccess file which works on your system?

Or do I have to trigger something in ord

[2020-01-16 07:33] mbrodala commented on #167
@moufmouf Thanks, please also update the `CHANGELOG.md`. :-)

[2020-01-16 09:14] #173 closed

[2020-01-16 09:15] moufmouf commented on #173
Fixed by #181 !

[2020-01-16 11:10] benr77 commented on #146
And I totally forgot to say thank you very much for your efforts! So thank you!

[2020-01-23 09:53] christian-charzewski-now commented on #94
I get the same error message with php:7.4-v3-slim-apache

[code]

My Startup.sh
[code]

[2020-01-23 11:17] moufmouf commented on #94
@christian-charzewski-now

Ok, I'm reopening the issue until I find where this comes from.

[2020-01-23 13:48] moufmouf commented on #94
@christian-charzewski-now

Found it! The error is not in the image but in your test command line. With Docker, you must put an absolute path when mounting directories.

So the correct test line is:

[code]

(pay attention to the `$PWD/` in front of "/startup.sh")

[2020-01-23 13:48] #94 closed

[2020-01-23 14:06] christian-charzewski-now commented on #94
@moufmouf

I still get the same error - does it work for you?

[2020-01-23 14:22] moufmouf commented on #94
Mmmm... yes it does.
Are you running this from the directory that contains "startup.sh"?

Also, could you try to download the latest version of the image bu running:

[code]

[2020-01-24 06:42] christian-charzewski-now commented on #94
Strange

Pulling a new image didn't help either

[code]

I also tried building a docker image and copying the file to /etc/container/startup.sh and i still get the same error.

For now i solved it with the STARTUP_COMMAND_XXX env variables, so its not a real problem.

[2020-01-28 08:58] moufmouf commented on #112
Reopening this issue as the uploadprogress extension has recently been updated!

https://twitter.com/ramsey/status/1221667202086162433

We can now add it to the fat PHP images

[2020-01-28 09:45] #112 closed

[2020-01-28 12:32] Looouuu opened #183 "Cannot change php.ini settings on php:7.4-v3-apache-node12"
Hello !

I'm trying to set php.ini settings on the php:7.4-v3-apache-node12, but it looks like it has no effects.

## Expected Behavior
Settings in environment variables should edit the php settings

## Current Behavior
It does nothing on 7.4-v3-apache-node12 but works on node8

## Steps to Reproduce (for bugs)
1. Add `PHP_INI_UPLOAD_MAX_FILESIZE: 16M` in docker-compose
2. Check phpinfo();

[2020-01-29 08:21] moufmouf commented on #183
Weird... the php:7.4-v3-apache-node12 and the php:7.4-v3-apache-node8 are built from the same "php" slim images. So there is absolutely no reason why this should fail.

Unless you have in your Docker cache an old image with a problem?

Could you try to run `docker pull thecodingmachine/php:7.4-v3-apache-node12` and try again?

[2020-01-29 14:46] RobinScout opened #184 "Upgrade supercronic to be able to use overlapping cronjobs"
Supercronic v0.1.7 (now on v.0.1.9) added an option to enable overlapping jobs (-overlapping flag). Currently the images use v0.1.5. It would be nice if the overlapping option was available in these images so that long running cronjobs dont block other jobs.

A variable to set the options for supercronic would also be nice.

Thanks!

[2020-01-30 12:30] #184 closed

[2020-02-03 08:39] Looouuu commented on #183
It seems to work now, weird.

Thanks a lot !

[2020-02-03 08:39] #183 closed

[2020-02-04 10:15] almare commented on #91
Gitlab is also a problem. Specially if the image is used without docker-compose. I am not able to run the apache.

[2020-02-12 08:05] mbrodala commented on #167
@moufmouf Can you have another look at this?

[2020-02-17 23:12] tkaufmann opened #190 "Changing app dir for php-fpm / multiple pools"
Is there a way to change the app dir for php-fpm to /var/www?

Also: Can I setup a second pool? We're running Wordpress with different RAM levels etc. for admin and frontend.

[2020-02-18 12:30] moufmouf commented on #190
Hey Tim,

There is no way (yet) to configure PHP-FPM through environment variables. To be honest, I'm not an expert with PHP-FPM so I'm not sure how I would approach that.

Regarding changing the app dir, did you try changing the working directory of the container?
[WORKDIR in Dockerfile](https://docs.docker.com/engine/reference/builder/#workdir) or [workingdir in docker compose](https://docs.dock

[2020-02-20 04:33] rizkysyazuli commented on #148
Oh, i came here looking for `rsync` and `git-ftp` support as well. But on second thought, it would probably make it too opinionated.

As a workaround, if you're using Jenkins, Github Actions, or the likes. They usually support using multiple Docker images for each step of the build pipeline. Go check their docs.

Here's an example from Jenkins docs:

[code]

This is where you can use a dedicated r

[2020-02-20 09:21] Deepress opened #191 "Changing of SMTP hostname in php.ini not working through environment variables"
Hi,

i recently stumbled upon mailhog  and wanted to use it with your php-fpm image. However when i need to set the SMTP hostname through PHP_INI_SMTP env. variable i run into case-sensitive problem as it gets translated to smtp=hostname but in php.ini its SMTP in uppercase and since php.ini is case sensitive i'm having a problem.

[2020-02-20 12:39] tkaufmann commented on #190
Hey moufmouf, thanks for getting back.

Pools are really simpel. A conf file per pool in fpm/pool.d is enough. Example:

<img width="1280" alt="SC-6" src="https://user-images.githubusercontent.com/871500/74934278-25347600-53e6-11ea-9aef-4d332d3128aa.png">

<img width="863" alt="SC-7" src="https://user-images.githubusercontent.com/871500/74934335-46956200-53e6-11ea-95c3-c0a6648c6dc3.png">

nginx th

[2020-02-21 20:08] moufmouf commented on #191
Hey @Deepress ,

Indeed! I assumed that absolutely all configuration options in php.ini were in lowercase, but it seems SMTP is the exception!

I'll work on it!

[2020-02-21 21:03] #191 closed

[2020-02-21 21:03] moufmouf commented on #191
Fixed!

[2020-02-23 21:22] DepkaCZ commented on #191
Perfect ! Thank you very much !

[2020-02-28 10:14] MrMage opened #193 "How to manually build PHP extensions with the v3 images?"
Happy user of the v2 images trying to migrate to v3 here. With v2, I built two custom PHP extensions using the following Dockerfile snippet:

[code]

However, according to https://github.com/thecodingmachine/docker-images-php/blob/v3/MIGRATING.md, the build environment is not included in the v3 images. And sure enough, the above steps fail at the `phpize` command with the v3 images.

Do you have a

[2020-02-28 10:24] MrMage commented on #193
Seems like I was able to install the necessary build tools now with the following command:

[code]

However, it would be nice to have an "official" recommendation for this :-)

[2020-03-02 09:57] beejaz opened #194 "The command '/bin/sh -c sudo -E PHP_EXTENSIONS="$PHP_EXTENSIONS" /usr/local/bin/install_selected_extensions.sh' returned a non-zero code: 100"
Hi @moufmouf and thank you for awesome work. Ive been using v2 in alot of projects for a year now.

Ive created a basic dockerfile with this info:
ARG PHP_EXTENSIONS="apcu mysqli pdo_mysql ldap intl mailparse imap"
ARG NODE_VERSION=10
FROM thecodingmachine/php:7.4-v3-slim-fpm

When I tried to install a fresh v3 slim version I got the following error.

update-alternatives: using /usr/bin/xz to prov

[2020-03-03 16:26] moufmouf commented on #194
Hi @beejaz,

Weird, I tried running the exact same file as you:

[code]

It works on my computer.

Could you pull the latest image of `thecodingmachine/php:7.4-v3-slim-fpm` and try again?

[code]

[2020-03-03 16:27] moufmouf commented on #193
Yep, you are perfectly right. I'll keep the issue open until I find some time to properly document it.

[2020-03-06 12:57] MrMage opened #195 "How to use the FPM image for serving"
It appears that the FPM images use `php-fpm` as their entry point, indicating that they only launch the FPM service but do not support serving HTTP requests directly.

Is that assumption correct, or does the image somehow launch Apache as well?

In the former case, do you have any recommendations on how to connect this with an Apache or Nginx instance that functions as an HTTP server? Ideally, tha

[2020-03-06 15:16] mbrodala commented on #195
We are using a setup where we use both the `fpm` and the `slim-apache` image. For the latter we disable the PHP7 module which is loaded by default and use an Apache proxy handler to integrate PHP-FPM

<details>
<summary>docker-compose.yml</summary>

[code]
</details>

<details>
<summary>.docker/apache/vhost.conf</summary>

[code]
</details>

[2020-03-06 16:43] beejaz commented on #194
Hi @moufmouf - very strange! It worked after pulling latest image from you. Somehow I must have had a cached older version (didn't know I'd downloaded it before). Stupid of me not checking it first. Sorry for taking your time.

[2020-03-06 16:43] #194 closed

[2020-03-09 11:09] moufmouf commented on #195
@mbrodala  Thanks for sharing your setup! It is interesting to see how you disable the PHP7 to get a "pure" apache server :)

@MrMage, your assumption is right, the FPM image does not come with Apache installed.

[2020-03-09 11:28] mbrodala commented on #195
Just for clarity: we don't simply use a basic/custom image for Apache to benefit from the same way configuration and permissions are handled.

[2020-03-25 20:25] pascalwacker opened #196 "[Feature Request] Add Uuid extention"
Feature Request for PECL Uuid package to be added as an extension: https://pecl.php.net/package/uuid

[2020-03-26 09:41] moufmouf commented on #196
Excellent idea.
Working on it in #197

[2020-04-10 11:39] laukstein commented on #195
I would like better if could have a single image for it like `thecodingmachine/php:slim-apache` containing the latest version of php and apache.

[2020-04-22 11:19] benr77 commented on #194
I'm getting this same error and I have cleared all cached images and pulled down the latest slim image.

[2020-04-28 15:09] thibauds opened #198 "Use specific version of php extension"
I would like to use a specific version of the mongodb extension (^1.7) but it seems that the version bundled with the image is 1.6.1. Is there a way to specify it ?

[2020-05-06 10:03] QuentinDubes opened #199 "pdo_mysql extension is not enable by default"
## Expected Behavior
According to the `ReadMe.md`, i was excpeting `pdo_mysql` extension enable by default in thecodingmachine/php:7.1-v3-apache image.

## Current Behavior
I had to enable the module by adding  `PHP_EXTENSION_PDOMYSQL: 1`

[2020-05-07 07:00] mbrodala opened #200 "Random "Unable to load dynamic library" warnings"
## Expected Behavior
Container PHP usage should work without any warnings and all the time.

## Current Behavior
We randomly/often get warnings like these with the PHP containers:

[code]

We currently use the `thecodingmachine/php:7.2-v3-fpm-node8` image with `PHP_EXTENSIONS: gd` only, so these extensions are not disabled intentionally.

However, the error sounds more like the extension does not

[2020-05-16 15:33] MrMage commented on #195
Sorry to „revive“ this thread, but what is your approach to serving both static assets _and_ the app when using PHP-FPM and Nginx/Apache in separate containers? Do you simply copy the entire „app“ directory (containing both code and assets) to both the „fpm“ _and_ the „apache“ image?

[2020-05-18 11:15] laurin1 opened #201 "XDebug Extension Not Loading - 7.4-v3-apache"
## Expected Behavior
XDebug extension is enabled

## Current Behavior
XDebug extension is not enabled

## Steps to Reproduce (for bugs)
Use this docker-compose.yml:

[code]

![image](https://user-images.githubusercontent.com/75857/82206954-b96f8580-98ce-11ea-88a6-a6a29b5229e7.png)

Same issue as before (https://github.com/thecodingmachine/docker-images-php/issues/122), in newer release.

[2020-05-20 09:33] mbrodala commented on #200
Could it be that this is somehow related to startup speed?

Today I was able to reproduce this locally for the very first time. A `composer install` failed since the `zip` PHP extension was supposedly missing, even though it is mentioned in `PHP_EXTENSIONS`. However, directly entering the container and running `php -m` showed the `zip` extension. And running `composer install` again at this point

[2020-05-20 09:42] moufmouf commented on #200
This is weird. The main command is not supposed to start before the php configuration files have been written.
So my first thought would be to exclude any idea of a race condition.

Is anyone else having the issue?

Also, @mbrodala, could you share your docker-compose / Dockerfile? Are you doing anything special like redefining the Entrypoint or mounting PHP configuration directories?

[2020-05-20 09:45] moufmouf commented on #200
@mbrodala Can you reproduce this consistently on your local environment or did it happen only once?

[2020-05-20 09:48] mbrodala commented on #200
We do not override the entrypoint and also do not mount any PHP configuration. We do everything through the environment variables provided by the images here.

I'll try to come up with a minimal example to show the issue.

[2020-05-20 09:52] moufmouf commented on #198
Hey @thibauds ,

If you need a specific version of a library, you will have to download/install it yourself using a Dockerfile.

Under the hood, the v3 images are using Ubuntu and the Ondrej PPA that is quite often updated.

The image itself is rebuilt every week to use the latest version of the extensions. As I speak, the version of the mongodb extension bundled should be 1.7.4, so simply doing a

[2020-05-20 09:52] #198 closed

[2020-05-20 09:53] #196 closed

[2020-05-20 11:31] moufmouf commented on #200
Thanks! I'm linking to #201 too which might be related (not sure, but I'll need to check this)

[2020-05-27 08:46] mbrodala commented on #200
I wasn't able to reliably reproduce this locally yet but can confirm that there's something fishy since I've prepended a plain `php -m` before the Composer command and it shows that some PHP extensions could indeed not be loaded:

[code]
Interestingly `gd` listed here is set by us in `PHP_EXTENSIONS` ...

[2020-05-27 10:24] moufmouf commented on #200
Interesting. I ran into this: https://www.linuxquestions.org/questions/slackware-14/php-7-1-in-testing-%BB-unable-to-load-dynamic-library-mysqli-so-4175618544/

It might be related to the order the Mysql related extensions are loaded. Note to self: I'll have to check this out.

[2020-05-29 20:08] andersonpem opened #202 "Change the running user in PHP-FPM variant images"
Hey. How are you guys doing? I have a quick doubt about the PHP-FPM variant. How do I change the owner of the php-fpm from docker to www-data?

In the Apache variant we have the APACHE_RUN_GROUP and APACHE_RUN_USER environment variables to set the user and group. Is there a similar feature to the PHP-FPM ones?

I'm sorry if I read the documentation incorrectly :)

## Expected Behavior
To be able t

[2020-06-02 11:13] mbrodala commented on #200
@moufmouf Where you already able to have a look at this? PHP extensions loaded in the wrong order would make more sense to me than the libraries missing in the filesystem ...

[2020-06-03 07:47] moufmouf commented on #200
Very weird.
Have a look at this file: https://github.com/thecodingmachine/docker-images-php/blob/v3/utils/setup_extensions.php#L56-L60

Here, I am making sure that the "mysqlnd" extensions is loaded if "mysqli" or "pdo_mysql' extensions are loaded.
I am using the "phpenmod" command from Ubuntu to enable the module.

The "phpenmod" command should take care of the priority by prepending the "mysqlnd

[2020-06-03 12:03] mbrodala commented on #200
Here's the output from various builds, unfortunately there is no pattern visible since technically all desired extensions seem to be loaded as requested:

<details>
<summary>Success</summary>

[code]

[code]

[code]

</details>

<details>
<summary>Error</summary>

[code]

[code]

[code]

</details>

As you can see the warnings also show up on successful runs but don't cause it to fail.

[2020-06-03 16:51] moufmouf commented on #200
In both case, the `10-mysqlnd.ini` is not loaded which is strange, because it definitely should according to https://github.com/thecodingmachine/docker-images-php/blob/v3/utils/setup_extensions.php#L56-L60

The error is related, but it will be hard to solve if I can't reproduce it.

Could you share more about your setup? Are you running "composer" inside a "Dockerfile" or inside "docker-compose"?

[2020-06-05 09:05] rizkysyazuli commented on #183
Same issue here. Also using the `7.4-v3-apache-node12` version.

[code]

Then i check into the container. It still shows 2MB.

[code]

This happens on a fresh install. So it's already using the latest image. Any ideas? Thx..

[2020-06-05 10:26] moufmouf commented on #183
You forgot the "_INI_" part in the environment variable. This should be:

[code]

:)

[2020-06-08 10:30] rizkysyazuli commented on #183
@moufmouf omg. how can i miss that. so sorry..

[2020-06-09 12:22] andersonpem commented on #202
If someone is attempting to do this:
I managed to trick the image to do that. In the image there's a script that looks for a variable called DOCKER_USER. If I set in docker-compose, in the environment section,  `DOCKER_USER: www-data` then the php-fpm starts as www-data :)
I'll check if I can send a pull request to document this behavior :) thanks

[2020-06-09 12:22] #202 closed

[2020-06-12 12:35] verbruggenalex opened #203 "/usr/local/bin/composer not outputting in color by default"
## Expected Behavior
`/usr/local/bin/composer` should automatically enable --ansi if the system supports it.

## Current Behavior
`/usr/local/bin/composer` is a PHP wrapper script seems to bypass this behavior .

[2020-06-17 14:54] thibodelanghe opened #204 "Sending mail"
## Expected Behavior
Email is being sent.

## Current Behavior
Email isn't being sent.

## Context
When i use the mail() function the email isn't being sent. I have a postfix container running and want to use that to send email. How can i do this with this image?

## Your Environment
webserver container with image php:7.4-v3-apache
postfix container

[2020-06-18 08:25] mbrodala commented on #200
Sorry for the delays, I am usually in a 2 week sprint with a 2 week break in between.

Our setup is spun up with Docker Compose and Composer is then executed via `exec`. In any case I already noticed one possible issue: we basically do this:

[code]

With this there's at least some risk that not all services have fully started yet which we noticed in one project failing to connect to MySQL. I'm no

[2020-06-22 15:15] mbrodala commented on #200
I think I am definitely onto something here: I'm currently trying to optimize our CI pipeline (GitLab) e.g. by splitting it into jobs. With this I now see the errors mentioned here in a project which was mostly unaffected as of now. This should mostly stem from the fact that most setup is performed only once and subsequent jobs are directly executed. So the time between environment startup for a j

[2020-06-22 16:04] mbrodala commented on #200
FYI: I added waiting for MySQL with these two simple changes:

1. Update `Dockerfile`

[code]

2. Add `STARTUP_COMMAND_1: dockerize -wait tcp://mysql:3306` to our app service.

(I tried overriding the `ENTRYPOINT` but this led to weird `sudo` errors.)

However, I still see failures due to `mysqli_init()` being undefined due to `mysqli` not being loaded properly.

[2020-06-22 16:23] mbrodala commented on #200
@moufmouf Would you mind adding debugging output to all of your scripts so that a `docker-compose logs` is able to display them?

My current suspicion is that Docker (Compose) launches your entrypoint script and happily returns from that. At this points commands could be `exec`uted even before the entrypoint script finishes its startup procedure which includes PHP extension setup.

[2020-06-22 16:33] moufmouf commented on #200
I suspect the error about the PHP Mysql extension is not related to the fact that MySQL listens to connections or not.

However, the idea of a race condition between the docker container starting and a "exec" performed on the docker container makes plenty of sense!

However, you mention you are using a Gitlab pipeline. This is weird to me because, in my understanding, Gitlab CI is not doing an "ex

[2020-06-23 07:32] mbrodala commented on #200
Exactly, I just wanted to point out the coincidence of the timing issues here. :-)

We are currently migrating from Shippable to GitLab where we went straight for the [shell executor](https://docs.gitlab.com/runner/executors/shell.html). This allows us to use `docker-compose` the same way as locally without any workarounds. Basically `docker-compose` is executed directly on the build node without

[2020-06-23 08:08] mbrodala commented on #200
@moufmouf Could [this be the issue](https://serverfault.com/a/887688/464545)?

Indeed all current errors are related to `mysqlnd` symbols missing:

[code]

[2020-06-23 08:45] moufmouf commented on #200
This is so, so weird!

Yes, this could absolutely be the issue. But the fact is that I'm making sure that `mysqlnd` is loaded if `mysqli` is loaded ([here](https://github.com/thecodingmachine/docker-images-php/blob/d5d126c03d08391a3d7b2ad6ccb341aa65cdbb91/utils/setup_extensions.php#L58-L58))

The only explanation I could find is that we have a race condition:

- On startup, the entrypoint enables

[2020-06-23 08:48] moufmouf commented on #204
Did you configure the SMTP option of php.ini to point to your postfix container (using the `PHP_INI_SMTP` environment variable?)

[2020-06-23 09:07] mbrodala commented on #200
Yes, as mentioned above (https://github.com/thecodingmachine/docker-images-php/issues/200#issuecomment-647582813) sleeping for a while already reduces the risk of this error showing up. It doesn't disappear completely since the issue also depends on I/O speed but sleeping for e.g. 30 seconds is not really an option since it would slow down our builds dramatically.

One thing I'm not sure about ATM

[2020-06-23 09:15] moufmouf commented on #203
I'm having a hard time to find how to detect if the system supports "ansi". Any idea on how to do that?

[2020-06-23 09:41] moufmouf commented on #203
Note to self: switching to `proc_open` to launch Composer might solve the issue.

See https://github.com/symfony/symfony/issues/15626

[2020-06-23 13:34] thibodelanghe commented on #204
Oh, overlooked that option in the docs. Will try it out!

[2020-06-23 15:00] mbrodala commented on #200
I also tried to add the `PHP_EXTENSIONS` to the image we are building anyways but that didn't work as expected. I defined `PHP_EXTENSIONS: gd mysqli pdo_mysql` as build arg and removed the environment variable of the same name.

Then I did a build (based on `7.4-v3-fpm-node8`) but that brought up this message:

[code]

Since the fat images are based on the slim images I assumed that one could also

[2020-06-26 16:42] sergiokessler opened #205 "error deploying in Google Cloud Run"
Hello,

trying to deploy the image
`FROM thecodingmachine/php:7.4-v3-apache`

on **Google Cloud Run**, gives me:

`sudo: /usr/bin/sudo must be owned by uid 0 and have the setuid bit set`

(in my machine, running docker locally, it has no problem, it builds fine, run finel)

Dockerfile:
[code]

[2020-06-27 16:21] kungfoome commented on #205
https://github.com/thecodingmachine/docker-images-php#usage-in-kubernetes

[2020-06-28 02:06] sergiokessler commented on #205
well, I'm pretty sure there is a relation, but I'm _not_ deploying to kubernetes, and I see no way of setting `allowPrivilegeEscalation` in google cloud run, see below:

[code]

source: https://cloud.google.com/run/docs/reference/rest/v1/RevisionSpec

[2020-06-28 06:49] kungfoome commented on #205
Yeah, doesn't look like it's supported on that type of deployment. You might be able to override the entrypoint as that's where sudo is used. Otherwise, you may have to use a different image. You could also try another container like: https://github.com/GoogleCloudPlatform/php-docker or bitnami.

[2020-06-28 22:24] sergiokessler commented on #205
Yup, I'm looking for other images, the one you point seems outdated (only php 7.2) and the doc is not very welcoming...

thanks anyway...

[2020-06-29 05:28] kungfoome commented on #205
The documentation is ok for GCR, but you have to go to https://github.com/GoogleCloudPlatform/php-docker/tree/master/php-onbuild and use that. And yes, they only support up to 7.2, even though there are numerous issues opened to upgrade to 7.3

The bitnami images are pretty nice, but you do have to build it out manually, but it's a good baseline image. You might be able to use something like https

[2020-06-30 07:52] mbrodala commented on #200
After giving this one more thought I found an (embarrassingly simple) solution:

**Do not use `docker-compose up -d && docker-compose exec <command>` but simply `docker-compose run --rm <command>`**.

This way the `<command>` is executed by the entrypoint itself and can be 100% sure that all dependencies like PHP extensions have been set up before:

https://github.com/thecodingmachine/docker-image

[2020-07-02 22:32] michalhlavka commented on #133
I still have this problem, anyone with this issue?

[2020-07-07 13:30] michalhlavka opened #206 "ALERT: [pool www] user has not been defined"
Hi, I am starting container from `FROM thecodingmachine/php:7.4-v3-fpm` and getting

[code]

At the local machine, everything is right but on the server, it's failing.

[code]

`4.19.0-9-amd64`

Any advice? One week I am trying to figure it out, what is wrong. Thank you.

[2020-07-08 09:53] moufmouf commented on #200
Thanks for the feedback @mbrodala !

Actually, I'll keep your issue open. I've been beaten by a "somewhat" similar problem.
I'm using PHPStorm and when declaring a PHP interpreter in Docker, PHPStorm tries to detect Xdebug by connecting to the container but completely bypassing the entrypoint. As a result, it does not find XDebug at all (since it is set up in the entrypoint) and fails.

The more I

[2020-07-08 10:04] mbrodala commented on #200
That could probably work but then you'll also need to do the same for `php-fpm` for non-CLI executions ...

[2020-07-20 16:12] thiagomeireless commented on #200
I'm having a similar problem just trying to load the redis extension, with the following error:

[code]

Using the following `Dockerfile`:

[code]

And the following `docker-compose.yml`:

[code]

Anything I'm doing wrong here?

[2020-07-27 09:39] iquito opened #207 "pcntl extension missing in slim image"
## Expected Behavior

When adding "pcntl" to the PHP_EXTENSIONS in a Dockerfile with the slim image, it should be added to the container.

## Current Behavior

An error message is shown: `The following extension(s) is not supported: pcntl`

## Possible Solution

pcntl works in the fat image, and it should be possible to add it to the slim image too.

## Used images

The error occurs both in the la

[2020-07-27 10:08] iquito commented on #207
After some more digging this seems to be mainly a documentation problem and an unexpected difference between the fat and the slim images: In the slim images, pcntl is always enabled (as far as I can tell), yet in the fat images you have to enable the extension via `PHP_EXTENSION_PCNTL=1`. From my perspective it might be better to just enable them in both by default.

[2020-07-27 12:36] moufmouf commented on #207
Hey @iquito ,

I'm not sure this is a documentation problem.

The extensions seems to be available out of the box in slim and fat image. See:

[code]

And with the slim image:

[code]

So the issue you are facing must be something else.

[2020-07-27 13:33] iquito commented on #207
In the documentation pcntl is listed under `Available (can be enabled using environment variables)`. Just search for "pcntl" in the README of this repository. That is the reason why I went down the path of enabling pcntl explicitely: because the documentation says that pcntl is available, yet disabled by default. So according to the documentation, you have to enable pcntl for both slim and fat ima

[2020-07-27 18:42] iquito commented on #207
I created the PR #208 to fix the documentation errors about pcntl (and also the calendar extension, as I also noticed that it was mentioned twice in a conflicting way).

[2020-07-29 10:15] mbrodala commented on #200
@thiagomeireless Which of these reflect your workflow:

1. `docker-compose up -d` followed by `docker-compose exec php-apache-slim ...`
2. `docker-compose run --rm php-apache-slim ...`

The 1st suffers from the issue mentioned here, the 2nd one will work just fine.

[2020-07-31 15:13] melefabrizio opened #209 "Faulty vhost configuration with compose"
## Expected Behavior
After startup with the following ```docker-compose.yml``` the ```docker-php.conf``` contains correct environment variables as set in the docker-compose file.
[code]

## Current Behavior
The document root stays as a variable, and thus a Laravel installation cannot go beyond ```/index.php```, redirecting to the home page all routes (eg: ```/index.php/login``` or ```index.php/som

[2020-08-06 12:18] laoneo opened #210 "Support https per default"
Would be nice if https would be served as default out of the box. Nowadays when you want to develop features with OAuth login on sites like facebook or google they require to com and go back to a https site, even when the app is in development mode. Thanks for consideration.

[2020-08-06 12:20] gulien commented on #210
Hey @laoneo

You should use a reverse-proxy like [Traefik](https://docs.traefik.io/).

[2020-08-06 12:24] laoneo commented on #210
Why? Apache is able to serve https. Honestly I want to avoid an extra dependency when everything is there.

[2020-08-06 12:36] gulien commented on #210
I mean, we could implement it somehow, but other Docker images do a better job on that matter.

[2020-08-07 08:44] laoneo commented on #210
I mean it doesn't have to come with a valid certificate. Just that the page can be served over https and that we can expose port 443. Would it be a big effort?

[2020-08-07 13:02] gulien commented on #210
It should be feasible to add a simple implementation with Apache. There is no promise in the short term, as we are currently quite busy (PR welcome, though!).

FYI, in our use cases, we have many services exposed to the world, that's why we like to use a dedicated service like Traefik to handle the routing (and HTTPS in certain environments) for those services ^^

For instance:

[code]

[2020-08-07 18:41] laoneo commented on #210
Thanks. I'v made it in my own project in a quick way. If somebody is interested here is the change https://github.com/Digital-Peak/DPDocker/commit/b664bfc0816b26d589a353175583cb93d7261b8a.

Thanks anyway for this great project, it saved me a lot of time for my dev setup.

[2020-08-07 18:41] #210 closed

[2020-09-02 01:30] thiagomeireless commented on #200
Both workflows throws the same errors for me:

[code]

I found a similar issue in [another repo](https://github.com/nextcloud/vm/issues/551#issuecomment-503397260) and it might be related to `php-igbinary` version.

[2020-09-13 19:27] moqmar commented on #204
Hm, doesn't work for me. What about adding something like [DMA](https://wiki.mageia.org/en/Dma_Dragonfly_Mail_Agent) to the image & then allowing to set the SMTP details through environment variables?

Edit: DMA doesn't even need to be configured to send email - the simplest way to set up sending email with it would be the following in a custom Dockerfile:
[code]

That being said, I'd really like

[2020-09-15 14:02] moqmar opened #212 "Install locales through environment variables"
## Expected Behavior
Some stuff in PHP depends heavily on locales, so I'd expect locales to be supported by a general-purpose PHP container.

## Current Behavior
I need to create a custom Dockerfile to install and install the neccessary locales:
[code]

## Possible Solution
Add an environment variable `LOCALES="en_GB.UTF-8 de_DE.UTF-8"` that generates the locales on container start. Setting PHP_IN

[2020-09-24 16:35] DepkaCZ commented on #206
The user is really not defined in `/etc/php/7.4/fpm/pool.d/www.conf` this also applies to  7.1 images as well please fix it.

Temporary solution is to get the `/etc/php/7.4/fpm/pool.d/www.conf` out of the container, modify it by uncommenting the `user = www-data` line and then overwrite it e.g. in docker compose

[2020-09-24 18:29] DepkaCZ commented on #206
Hmm, my previous post is only partial solution as I'm getting error when trying to install new composer packages :

`Cannot create cache directory /home/docker/.composer/cache/repo/https---repo.packagist.org/, or directory is not writable. Proceeding without cache`

I've tried to change group/user to `docker/docker` as stated in readme but without any luck :/

[2020-09-28 21:07] #207 closed

[2020-10-01 14:55] mbrodala commented on #200
In any case my issue is resolved.

[2020-10-01 19:34] beejaz commented on #206
We have the same error since recently. Trying to load thecodingmachine/php:7.4-v3-slim-fpm on a fresh computer without previous installation/cache gives this:
php_1    | [01-Oct-2020 19:28:49] ALERT: [pool www] user has not been defined
php_1    | [01-Oct-2020 19:28:49] ALERT: [pool www] user has not been defined
php_1    | [01-Oct-2020 19:28:49] ERROR: failed to post process the configuration
php

[2020-10-01 19:37] DepkaCZ commented on #206
I've solved it by disabling WSL support in Docker for windows

[2020-10-04 18:31] beejaz commented on #206
Thats strange. I get this error on a Linux host that has nothing to do with Docker for Windows also.

[2020-10-05 08:20] moufmouf commented on #206
Hey guys,

Could you explain me how to reproduce this problem (on a Linux host if possible)?

Because right now, I don't know how to generate this error.

[code]

I'm looking at a way to add a breaking test before trying to solve this issue.

[2020-10-05 08:41] michalhlavka commented on #206
@moufmouf Hi, this is my setup

php Dockerfile

[code]

nginx Dockerfile
[code]

docker-compose.yml

[code]

[2020-10-06 08:17] beejaz commented on #206
Hi @moufmouf

It worked on all my hosts that has previous cache (or something) from your image even if i choose --no-cache option. But when I use a fresh new VM with Linux (Ubuntu) it didnt work.

I tried to replicate this, again, today on a fresh machine and now it works for me. I will test on one of the old hosts that didnt work. Ill get back.

[2020-10-06 12:40] michalhlavka commented on #206
With `docker run thecodingmachine/php:7.4-v3-fpm` everything it's ok.

But when I use docker-compose along with nginx, it's again

[code]

docker-compose

[code]

PHP Dockerfile

[code]

Nginx Dockerfile

[code]

[2020-10-07 20:15] mbrowngold commented on #206
This solved it for me as well.

[2020-10-14 12:46] stuchl4n3k commented on #40
Hi! I think I experienced a similar issue. By extend your image and just changing `WORKDIR` the black magic is sadly defeated. Reproduce:

1. Create `./Dockerfile` with:
[code]

2. Build: `docker build -t tcm-test/php .`
3. Run: `docker run --rm -eSTARTUP_COMMAND_1=id -it tcm-test/php id`
[code]
I guess that `/srv` is just not supported, right?

[2020-10-15 18:20] beejaz commented on #206
This started to work out of nowhere for me 👍 Both on Linux hosts and WSL2 host with docker for windows

[2020-10-16 09:33] beejaz opened #213 "PHP Startup: Unable to load dynamic library 'redis.so'"
## Expected Behavior
Enable redis support in PHP in thecodingmachine/php:7.4-v3-slim-fpm

## Current Behavior
Container crashing on start or giving constant errors on load.

## Possible Solution
As discussed in #200 maybe add delay or other order of loading

## Steps to Reproduce (for bugs)
php/Dockerfile:
[code]
docker-compose.yml:
[code]
docker-compose up
[code]
When disabling PHP_EXTENSION_REDI

[2020-10-16 16:00] moqmar commented on #204
I've installed DMA & added documentation, but parsing the environment variables & generating the configuration is still to be done - I'll probably get that done in the next couple of days.

[2020-10-22 10:20] yynag commented on #159
Try to find.
![image](https://user-images.githubusercontent.com/67993732/96858668-28ab6000-1493-11eb-8029-e1ef5d0d04a4.png)

[2020-10-22 12:11] stevleibelt opened #214 "Feature Request: Create images for podman?"
[Podman](https://podman.io/) aims to be the alternative for docker with lots of benefits.

Is there any plan to support description or images (if needed) for podman to?

If I am calling:
[code]

Under an arch linux `5.9.1-arch1-1`, I get the following error message.

[code]

[RedHat](https://www.redhat.com/sysadmin/rootless-podman) explained the issue `Error committing the finished image: error ad

[2020-10-26 15:43] #103 closed

[2020-10-29 09:34] marijnotte opened #218 "Composer 2 in images"
Composer 2 has been released stable on October 24 (https://blog.packagist.com/composer-2-0-is-now-available/)

We would like to have this new version in the images

(rebuilding the images might be enough to upgrade)

[2020-11-05 10:24] mbrodala commented on #218
Actually there should be an option to *not* upgrade to Composer 2.x since this can lead to unexpected issues until everything has been prepared properly.

[2020-11-05 10:29] mbrodala commented on #213
Do you use `docker-composer up` followed by `exec` or do you use `docker-compose run`? The latter is safe, the former can lead to a race condition with errors like this.

[2020-11-06 08:27] beejaz commented on #213
Hi @mbrodala thanks for your response, I use docker-compose up -d with this
[code]

If i run "docker-compose run php -d" it will give me error also:
[code]

[2020-11-06 08:49] mbrodala commented on #213
This sounds like a loading issue since `redis.so` looks like being built with igbinary support but that extension is not loaded or in a wrong version.

@moufmouf I can see the `install.sh` of `redis` which does not have `DEPENDENCIES` like the `memcached` version which it is obviously based on:

https://github.com/thecodingmachine/docker-images-php/blob/c4bce49e16b69a4121e2da54fb95a9e467902768/ext

[2020-11-08 19:54] beejaz commented on #213
I tried adding memcached to my Dockerfile and PHP_EXTENSION_MEMCACHED: 1 to docker-compose.yml which ended up showing more errors after a fresh docker-compose build php
[code]

Ive tried to find information about this issue, some say its a issue with Ubuntu 18.04 and php/redis. Some suggest to change order of loading extensions;
20-igbinary.ini
30-redis.ini

Some other suggest installing the stuff

[2020-11-16 19:40] iquito opened #221 "Tag patch releases in case of newly introduced bugs"
First of all, thanks for the great docker image! I am using it both in development and production, and it is a big help.

I would like to suggest that patch releases of PHP are tagged - you state in the README that there are no valid reasons to not use the most recent version of PHP, and patch versions should only fix bugs, yet the reality is not quite as clean cut. Patch releases can and will som

[2020-11-23 16:18] mbrodala commented on #218
See #223 for a hotfix to enforce Composer 1.x for now. A Composer version selection should be done separately IMO.

[2020-11-26 14:16] moufmouf opened #224 "Create a v4 image"
A lot has changed recently in the PHP stack and we could use a v4 of the images.

Here are the proposed changes:

- PHP 8 support
- Composer 1 => Composer 2
- XDebug 2 => XDebug 3
- Ubuntu 18.04 => Ubuntu 20.04

The v3 image would stay as is (Composer 1, XDebug 2) to ensure maximum compatibility for all existing users.

[2020-11-26 14:17] moufmouf commented on #218
We are going to create a v4 of the image with Composer 2 and keep v3 with Composer 1.
See #224

[2020-11-26 14:20] moufmouf commented on #221
Hey @iquito ,

Thanks a lot for the feedback.
I'll definitely consider it. I'm a bit worried about the newly introduced changes in Docker Hub retention policy.
Old releases might simply be purged after a few months and I'm not sure how to deal with this yet. Any idea?

I don't have this issue with the current images because they are rebuilt every week but this is not something we could do with pat

[2020-11-26 14:21] mbrodala commented on #224
As mentioned #223 should be finalized to achieve the last point (keep Composer 1.x in the v3 images).

[2020-11-26 19:08] laoneo commented on #224
Would also be nice when the v3 branch contains a PHP 8 image. PHP 8 is already very old 😂

[2020-11-27 11:29] moufmouf commented on #213
Sorry for the delay.
@beejaz I'm working on a v4 of the Docker image based on Ubuntu 20.04. It does not have this issue. I'll keep you posted.

[2020-11-28 11:12] iquito commented on #221
As far as I have read, the new retention policy is only about inactive accounts, and they have delayed it to mid-2021, so I don't think it affects image releases (but I am not an expert in that regard, so I might be wrong).

About the change itself, a challenge is that the underlying repository by ondrej only has the newest patch version of PHP, so either old image versions with previous PHP patch

[2020-11-28 15:03] moufmouf commented on #221
Currently, there is a weekly build to keep all things up to date (Composer version, extension version, etc...)

The easiest thing would be during the build to:

- tag a X.Y release
- tag as an alias a X.Y.Z release too.

This means that when a new patch release of PHP is released, the old X.Y.(Z-1) image would essentially be frozen in time and would not move at all anymore.
I don't really see this

[2020-11-28 15:19] moufmouf commented on #221
For the record, the commit adding patch releases is ready to be merged (in future v4):

https://github.com/thecodingmachine/docker-images-php/pull/226/commits/91da97e23f9acbf0179f9dd932c27f575aaf06ac

[2020-11-28 15:25] moufmouf commented on #205
I'm working on a v4 of the image that is not requiring "sudo" privileges.
That should hopefully solve the issue (at the expense of making php.ini accessible by a non-root user but this should be ok inside a Docker container)

[2020-11-29 00:28] iquito commented on #221
I think that is a great idea! And I agree, going back to old versions is basically a fail-safe, so a "frozen" old version is sufficient.

Thanks for building this into v4, looking forward to trying it out soon!

[2020-12-01 10:57] beejaz commented on #213
I love your work, no worries! Thank you very much, Ill wait patiently

[2020-12-07 19:10] #213 closed

[2020-12-07 19:10] #218 closed

[2020-12-07 19:10] #221 closed

[2020-12-09 14:27] iquito opened #228 "Not all extensions enabled within Dockerfile for v4"
A new error appeared with the v4 image where some of the chosen extensions are not enabled, but only for commands run within the Dockerfile. This is my (shortened) Dockerfile:

[code]

The composer install complains about the intl extension missing, because `ext-intl` is marked as required in the composer.json. This is the output when I run it:

[code]

So the following ini files / extensions are

[2020-12-09 14:31] gulien commented on #228
Hello @iquito

Thanks for this well written issue 😄

@moufmouf What do you think? Either:

1. Composer does not run `php_proxy`
2. Composer does not run `real_php`
3. `ARG PHP_EXTENSIONS` != environment variables so `php_proxy` does not setup the desired extensions.

[2020-12-09 15:02] moufmouf commented on #228
@iquito This might be a regression due to the way we deal with extensions now.
In v4, each time PHP is launched, we are overloading extensions.

An explanation might be that `composer` is running `php`, and therefore enabling/disabling extensions.

Could you try this:

[code]

If this works, it means we need to setup a "ONBUILD" phase that is setting up the PHP_EXTENSIONS environment variable from

[2020-12-09 15:21] iquito commented on #228
Just tried it, setting PHP_EXTENSIONS still results in the same error, that does not seem to be it.

[2020-12-10 09:42] mhemrg commented on #224
Hi @moufmouf,
I really appreciate your hard work.
I just want to know that what's the state of this issue? Is v4 ready to use in production?
And do you think it would be easy to migrate from v3 to v4?

[2020-12-10 09:46] gulien commented on #224
@mhemrg v4 is not yet ready for production, prefer v3.

[2020-12-14 06:54] robjuz commented on #213
@beejaz I'm sorry but it is stil not working.

I would love to use the phpredis extention in my laravel project running laravel horizon.

[code]
docker run --rm php artisan horizon

[code]

[2020-12-14 08:51] moufmouf commented on #213
Ok, I'll check that!

[2020-12-16 12:40] robjuz commented on #213
@moufmouf
Maybe this will help.

I tried to build my own image based on Ubuntu 20.04 and come to the same problem. After some googling I found out that there is a problem with the extension loading order.

This is working

[code]

This image is using the `ondrej/php` repository. I don't know why, but it is not working with its version.

So cloned this repo, emoved the `ondrej/php`, installed the e

[2020-12-17 14:10] iquito opened #229 "pcov extension cannot be enabled in php8"
For code coverage I use pcov instead of xdebug in some projects, mainly because pcov is much faster. With the PHP 7.4 images (`thecodingmachine/php:7.4-v3-cli` and `thecodingmachine/php:7.4-v4-cli`) I can enable pcov via the environment variable `PHP_EXTENSION_PCOV` set to 1.

With PHP8 (using `thecodingmachine/php:8.0-v4-cli`) the pcov extension cannot be enabled via `PHP_EXTENSION_PCOV` anymore,

[2020-12-18 14:27] gulien commented on #229
`pcov` does not seem PHP 8 ready (or at least there are no release).

You could open an issue on the [main repo](https://github.com/krakjoe/pcov) 😄

[2020-12-18 14:27] #224 closed

[2020-12-18 14:38] #228 closed

[2020-12-20 12:28] iquito commented on #229
Does it need a PHP8 release specifically? Because other extensions do not have a separate release either but still work. It does not seem `pcov` limits its usage - the last version was before even 7.4 came out (May 2019), but all the tests still pass for both 7.4 and 8.0 (see https://travis-ci.org/github/krakjoe/pcov).

I tried it locally too, and had no problems with `pecl install pcov` with PHP8

[2020-12-22 11:54] robjuz commented on #213
@moufmouf any update on this? Maybe the issue should be reopened?

[2020-12-24 18:15] moufmouf commented on #229
Actually, it is the Debian package php-pcov that is not yet bundling PHP 8 extensions.

[code]

Maybe we can try using pecl directly....

[2020-12-26 18:13] #229 closed

[2020-12-29 09:25] mbrodala commented on #91
@moufmouf I'd assume this has been fixed with the v4 images?

[2021-01-06 19:20] MrMage opened #239 "Is v4 ready for production use?"
I assume so, because the `README` almost exclusively mentions v4. But the only comment on this in the issues is https://github.com/thecodingmachine/docker-images-php/issues/224#issuecomment-742408066, which a month ago claimed that v4 was not yet ready.

Also, are there any breaking changes in v4 besides the version updates mentioned in #224?

[2021-01-06 19:47] gulien commented on #239
@MrMage we have not tested in production on our side, but I guess if it works fine on your local environment, you’re fine :)

[2021-01-07 10:58] moufmouf commented on #239
We are using the image daily for our development environments and it works great.
I'm pretty sure it is ok in prod too (even if we did not use it on a real project yet).
We don't have any outstanding issue or PR that forbids using the image in production.

Breaking changes are here:

https://github.com/thecodingmachine/docker-images-php/blob/v4/CHANGELOG.md#breaking-changes

(the biggest breaking

[2021-01-07 12:24] Phillip85 opened #240 "add SSH KEY option 2 not working"
Hi,

I am trying to use the "thecodingmachine/php:8.0-v4-apache-node14" image.
When I add an SSH-KEY like written in the docs (option 2) I get the following error:

[code]

[2021-01-07 12:50] Phillip85 commented on #240
maybe a solution would be:
[code]

[2021-01-07 13:06] Phillip85 opened #241 "Extensions are not getting installed"
hi,

when I try to add some PHP extensions, it looks like they are not getting installed:

[code]

Composer says that xdebug and gd is not installed:

[code]

[2021-01-07 14:12] kozubsky opened #242 "hardcoded xdebug.mode=debug in generate_conf.php in php:8.0-v4-fpm"
Your issue may already be reported!
After 27.11.2020 It is impossible to use xdebug profiler because `PHP_INI_XDEBUG__MODE` now is overriden by hardcoded `xdebug.mode=debug`

## Expected Behavior
When I set `PHP_INI_XDEBUG__MODE=profile` then `xdebug.mode=profile` is written to ini config file.

## Current Behavior
When I set `PHP_INI_XDEBUG__MODE=profile` (or any other value: off, develop, covera

[2021-01-07 16:17] Phillip85 commented on #241
[code]
via docker-compose.yml works

[2021-01-08 09:40] beejaz commented on #213
I just tried the latest v4 fpm slim image, got the same error also fyi @moufmouf :)

[2021-01-14 19:34] arcdigital opened #243 "permission issues"
Hey, I'm trying to build an image using this Dockerfile.
[code]

`docker build -t testapp .`

I seem to be running into permission issues. The yarn build fails with
`Error: EACCES: permission denied, open '/var/www/html/public/mix-manifest.json'`

Do I need to configure/set something differently for permissions to work properly when building?

I also had issues with the image not being able to mod

[2021-01-14 19:40] arcdigital commented on #243
I added `--chown=docker:docker` to the COPY line and that seemed to fix it.

[2021-01-14 19:40] #243 closed

[2021-01-14 19:41] moufmouf commented on #243
Try to give the files you copy to the "docker" user with

COPY --user=docker

[2021-01-18 12:10] DepkaCZ commented on #206
Still not working for me :/

On Thu, Oct 15, 2020 at 8:20 PM Björn <notifications@github.com> wrote:

[2021-01-25 11:31] robjuz commented on #241
`ARG PHP_EXTENSIONS="xdebug ldap gd"`
only work for slim images

when using the normal (fat) image, use env variables to enable extensions

[code]

[2021-01-28 05:00] robjuz commented on #213
@moufmouf Can you give us a quick note what do you think about this issue? I really love you images and this is a serious problem.

[2021-01-28 12:20] MrMage commented on #239
Works well for me in production; too.

[2021-01-28 12:20] #239 closed

[2021-02-10 16:05] that0n3guy commented on #147
Bump again... Running a laravel project that would use this.

[2021-02-13 00:12] dyanakiev opened #245 "https doesnt work with dinghy-http-proxy"
I have this docker-compose

[code]

Apperently the http-proxy doesnt like the upstream cert and i cant understand why..
Any ideas?
[code]

[2021-02-13 12:09] #245 closed

[2021-02-22 23:03] BrandonlinU commented on #242
I have the same problem, it looks like the file `utils/generate_conf.php` writes first the `ENV` variables from Docker and then writes the default configuration for the xdebug extension, with the `xdebug.mode` in `debug`.

[2021-02-26 07:39] benr77 opened #246 "Composer self-update not working due to permissions"
## Expected Behavior
When running a composer command, when it tries to self update, the self update succeeds.

## Current Behavior

`docker run -it --rm -v "$PWD":/usr/src/app thecodingmachine/php:7.4-v4-cli composer self-update`

Instead, I get the following error

[code]

## Context

This means I can't run the latest composer.

I get the impression that this would happen already to many many peo

[2021-02-26 09:16] gulien commented on #246
Does it make sense to update composer manually in a Docker image?

Every week, we rebuild the images automatically so that we're up-to-date with the latest versions of PHP / Composer / etc.
The idea is that by pulling the latest image, you should have most dependencies up-to-date.

Last build failed though and I didn't have time to look at the issue.

[2021-02-26 10:08] benr77 commented on #246
Ok, I understand and agree with you.

The issue happened to me whilst running a build script in a third party package that first self updated composer. I could get round it by disabling the self-update statement.

As you say under normal circumstances if I'd just pulled the latest image it *should* have the latest composer etc by default anyway. So not to worry this is a non-issue then.

Thanks fo

[2021-02-26 10:08] #246 closed

[2021-03-02 18:18] NicoHaase commented on #242
Any news on this topic? I'm facing the same issue

[2021-03-08 10:39] Korbeil opened #247 "rdkafka support for PHP 8"
Hey,

We are using `rdkafka` library thanks to #178 issue, and I was trying to see if we can migrate to PHP 8 and saw that rdkafka was not available, is it possible to ship it with 8.0 images ?

I saw they released PHP 8 not that long ago so it should works well ? https://github.com/arnaud-lb/php-rdkafka/pull/406 & https://github.com/arnaud-lb/php-rdkafka/releases/tag/5.0.0

[2021-03-09 18:46] beejaz commented on #213
@moufmouf Hi, sorry to disturb you, any updates here?

[2021-03-10 18:16] koplus commented on #242
Also same with client_host in php7.4. If I look at generated_conf.ini then there are multiple xdebug.client_host and the last one overwrites the one from docker-compose

[2021-03-11 17:50] moufmouf commented on #242
Closed by #248. Thanks @dsavina and @vesalink

[2021-03-11 17:50] #242 closed

[2021-03-16 10:44] johnnypea opened #250 "Does PHP_EXTENSIONS override default extensions settings for fat image?"
When I define `ENV PHP_EXTENSIONS="gd"` in a fat image, should only the "gd" extension be available or it doesn't change the state of other already set PHP extensions?

[2021-03-30 12:43] beejaz opened #251 "Unable to load dynamic library 'redis.so' still issue in v4"
Hi,

I get no response in #213 which has been closed. Its still broken;

[code]

When using docker-compose up -d with build from Dockerfile:
[code]

[2021-04-07 22:39] bustersky commented on #213
I came across the same issue and got to the solution...
If you use a slim image you have to enable **igbinary** alongside with the **redis** one, as they are enabled by default in fat images only: https://github.com/thecodingmachine/docker-images-php#fat-image

So in case of @beejaz that would be:

And in case of @robjuz

I hope this will help you.

[2021-04-07 22:44] bustersky commented on #251
@beejaz check this out https://github.com/thecodingmachine/docker-images-php/issues/213#issuecomment-815307490

[2021-04-08 17:14] racinmat commented on #206
Happening to me too, windows 10, using WSL.

[2021-04-08 17:45] DepkaCZ commented on #206
Arent you trying to run the docker compose from windows shell ? I found
that you must run it from wsl shell

čt 8. 4. 2021 v 19:14 odesílatel Matěj Račinský ***@***.***>
napsal:

[2021-04-08 17:58] racinmat commented on #206
Thanks, I'll try it. Unfortunately, running it from wsl shell causes me https://github.com/docker/compose/issues/7899

[2021-04-20 16:22] Lionel-cl opened #252 "Xdebug 3 new keys - no communication"
Hi,
Xdebug3 introduces many changes in the configuration keys with the removal of some keys and the creation of new ones.

In addition, unlike Xdebug 2, where there was an enabling setting for each feature, with Xdebug 3 you put Xdebug into a specific mode, which can be configured with the xdebug.mode setting.

So the new key 'xdebug.client_host' does not match my localhost and Xdebug does not com

[2021-04-20 18:39] Lionel-cl commented on #252
Finally the use of
[code]
without PHP_INI_ seems to allow the correct definition of the environment variable.

But I still can't get xdebug to communicate with my IDE.

Have you validated the use of Xdebug v3 with your image?
A suggestion in my case? thanks in advance

[2021-04-27 14:35] mbrodala commented on #240
@Phillip85 Can you try https://stackoverflow.com/a/46253163/6812729 ?

[code]

[2021-04-29 06:34] beejaz commented on #251
Thanks, that method now works for me 👌

[2021-04-29 06:34] #251 closed

[2021-04-29 06:35] beejaz commented on #213
This works for me now with the comment from above

[2021-05-04 14:28] MrMage opened #253 "Suggestion: check if the user can run `sudo` in PHP proxy"
Due to permission issues, I need to run a few of my scripts as `www-data` (e.g. via `sudo -E -u www-data php artisan ...`).

This currently triggers an error message, because [the `php` proxy](https://github.com/thecodingmachine/docker-images-php/blob/v4/utils/php_proxy.sh) tries to run `sudo chown docker:docker /opt/php_env_var_cache.php`, which `www-data` does not have permission to do.

For now

[2021-05-29 15:44] lordisp commented on #206
seams that did it. however the cause for this would be good to understand

[2021-06-10 05:40] forestuser opened #254 "apache module mpm_event"
I am building my build based on the thecodingmachine/php image:8.0-v4-apache-node14
The mpm_prefork module is present in the assembly
# Apache + PHP requires preforking Apache for best results
RUN a2dismod mpm_event && a2enmod mpm_prefork

Please make an assembly that includes the mpm_event module
so, how manually enabling it in the container causes it to drop

docker@app-75fdc9cbc6-v8qfm:/var/www

[2021-06-13 08:07] ikulis opened #255 "Redis extension does not work without igbinary"
As follow up from https://github.com/thecodingmachine/docker-images-php/issues/213 , Kudos to https://github.com/thecodingmachine/docker-images-php/issues/213#issuecomment-815307490

## Expected Behavior
Image should work by just adding `redis` extension without you need to add `igbinary`.

## Current Behavior

Starting image fails:

[code]

## Possible Solution

* Somehow autoenable  `igbinary` e

[2021-06-19 19:35] leekung commented on #206
Here is what I fix this issue
I replace all 3 pools with this

in docker-compose file
[code]

www.conf and zz-docker.conf is empty file
docker.conf is custom pool with user, group defined. example
[code]

[2021-06-23 10:42] mbrodala opened #256 "Missing write permissions for "docker" home directory"
## Expected Behavior

Commands can write to the home directory of `docker` (`~`, `/home/docker`), e.g. `~/.cache`.

## Current Behavior

There are permission errors, .e.g in Yarn:

[code]

## Possible Solution

Update the owner ID of `/home/docker` in the image entrypoint.

## Steps to Reproduce (for bugs)

1. Have a host user with an ID different from `1000`
2. Start a container, e.g. PHP-FPM
3.

[2021-06-30 23:15] bastnic commented on #247
this issue can be closed since #257 is merged.

[2021-06-30 23:20] #247 closed

[2021-07-05 08:26] mbrodala opened #258 "How to update NodeJS?"
Currently Node 14.16.1 seems to be installed:

[code]

While trying to update a few Node packages I saw this:

[code]

Now I wonder how one should update NodeJS provided by these images. A simple `docker-compose build --no-cache <service>` did not help, the Node version did remain unchanged.

Do the images themselves need to be rebuilt to update NodeJs?

[2021-07-05 08:32] mbrodala commented on #250
@johnnypea The extensions mentioned here will be loaded **in addition** to the default extensions. That's why you need to use `PHP_EXTENSION_<name>=0` environment variables to disable extenskions loaded by default.

[2021-07-06 23:56] NickStallman opened #259 "Missing MongoDB from PHP 8.0"
Is there any particular reason why MongoDB is missing from the PHP 8.0 images?
As far as I can tell, it should "just work" fine.

If there's no specific reason why it's omitted I can do some tests and submit a PR.

[2021-07-10 09:02] csaeum commented on #206
Hello I have the problem too.

`[10-Jul-2021 08:58:12] ALERT: [pool www] user has not been defined`
`[10-Jul-2021 08:58:12] ALERT: [pool www] user has not been defined`
`[10-Jul-2021 08:58:12] ERROR: failed to post process the configuration`
`[10-Jul-2021 08:58:12] ERROR: failed to post process the configuration`
`[10-Jul-2021 08:58:12] ERROR: FPM initialization failed`
`[10-Jul-2021 08:58:12] ERR

[2021-07-24 07:06] ObiMadu opened #261 "This stuff does not work with ssl"
Your issue may already be reported!
Please search on the [issue tracker](../../../issues) before creating one.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Operating System and version:
* Link to your project:

[2021-07-24 09:13] nguyenk commented on #261
Hello @ObiMadu,

We have a template for issues. This helps us understand and reproduce your problem, and see if this is an issue an or not.

Please provide more accurate information, not just "this stuff does not work".

Now I will suppose you expect the image to provide built-in ssl certificates for
Apache? for Node? If so, then it isn't the repondability of this image.

For this purpose, you can

[2021-07-24 10:54] obiMadu commented on #261
I tried using this in production, along with TLS.  I have openssl installed, the libssl, and the mod_ssl is activated. Yet the docker image keeps restarting. It keeps showing something along "SSLEngine On, invalid command, maybe mis-spelt?". How do i fix this?
It does however work in my Local environment where there's no TLS.

[2021-08-02 11:19] robjuz opened #262 "[v3] php7.3-dev : Depends: libssl-dev but it is not going to be installed"
## Expected Behavior
php extensions in slim image installed

## Current Behavior
php extensions not installed due to dependencies error

## Possible Solution
hardcode the libssl version
`apt install libssl1.1=1.1.1-1ubuntu2.1~18.04.9`

## Steps to Reproduce (for bugs)
[code]
produces

[code]

[2021-08-02 11:31] robjuz commented on #262
my current fix
[code]

[2021-08-04 11:45] robjuz commented on #262
@moufmouf Any ideas for a better fix?

[2021-08-19 14:50] JapanDoudou67 opened #263 "Support of HEIC / HEIF MimeType in IMagick"
Hello everyone !
First, thank for your work :)

I'm Using the thecodingmachine/php:7.4-v4-fpm image for a project on Symfony.
I activate the ext-imagick extension in my composer.json and PHP_EXTENSION_IMAGICK in my docker-compose.

But my new Imagick() cannot read HEIC images from IPhone :(

I tried to apply this tuto on my current configuration :

https://eplt.medium.com/5-minutes-to-install-imag

[2021-08-24 14:34] JapanDoudou67 commented on #263
Hello again :) Did someone test this use case ? I'm always stucked on it ...

[2021-08-26 07:48] robjuz opened #264 "PECL extensions not working in slim image"
## Expected Behavior
When compiling PECL extensions in slim image, the extension should be active

## Current Behavior
When compiling PECL extensions in slim image, no extensions are active

[2021-08-26 07:50] robjuz commented on #264
@moufmouf this issue is related to your discussion in https://github.com/thecodingmachine/docker-images-php/pull/260#issuecomment-899470288

I really need it working. I can help if you point me where to look.

[2021-08-27 05:54] antback commented on #240
The following works for me:

<pre>
RUN eval "$(ssh-agent -s)" && \
    echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
</pre>

[2021-08-30 08:24] robjuz commented on #264
@moufmouf I'm not sure, but this line is probably problematic https://github.com/thecodingmachine/docker-images-php/blob/5ed2502868880c5071ba5a28803e3d31bfa9ecad/extensions/core/docker-install.sh#L75

I overcome it by running
[code]

in my Dockerfile

[2021-08-31 07:15] moufmouf commented on #264
Hey @robjuz ,

Could you post here your sample `Dockerfile`, along a test that is failing?

[2021-09-15 07:11] csaeum commented on #206
Today I checked again whether it could be done.
I also tried that from @leekung . Unfortunately, I just can't get it to work.

The developers don't seem to care about the issues at the moment because it has been open for a long time.

Who can recommend an alternative Docker image with phpFPM and Crontab.

[2021-09-15 07:28] leekung commented on #206
use the following https://www.github.com/webdevops/Dockerfile

[2021-09-16 07:45] csaeum commented on #206
Thanks @leekung
However, this Docker image has no integrated cron service

[2021-09-21 16:49] mistraloz commented on #204
I try to make any enhancements in this repo (and first i have to clean PR). I'm sorry because you worked a lot on this PR but i'm not sure this docker image have to act like SMTP server. There is lot of docker image who do that.
Could you give me some use cases where the implementation of an smtp is required ?

[2021-09-23 09:41] #250 closed

[2021-09-23 09:44] #241 closed

[2021-10-03 20:32] ordinov commented on #261
[code]

[code]

No errors thrown logging into the original image and executing the a2enmod command

[2021-10-04 10:13] mistraloz commented on #261
It is better to use this notation :
[code]

But per default, mod_ssl require mod_socache_shmcb so you have to add it (to manage ssl cache) :
[code]

[2021-10-04 10:13] #261 closed

[2021-10-05 06:15] robjuz commented on #262
Alternative

[code]

[2021-10-05 06:17] robjuz commented on #262
@moufmouf what do you thing about pinning the libssl version in the image directly?

[2021-10-05 08:26] mbrodala opened #270 "Cannot build v3 images: expired certificate on deb.nodesource.com"
Your issue may already be reported!
Please search on the [issue tracker](../../../issues) before creating one.

## Expected Behavior

I should be able to build a container using the PHP v3 images here as base.

## Current Behavior

Trying to build an image using the PHP v3 images fails due to https://github.com/nodesource/distributions/issues/1266

## Possible Solution

Not 100% clear yet, maybe t

[2021-10-05 13:00] mistraloz commented on #270
This is a major issue for V3 images but we are no longer maintaining this version. So the best way is upgrade to v4 or make a PR on v3 branch.

[2021-10-05 13:04] mbrodala commented on #270
I totally get that. Internally I also advocate for solving this by upgrading to the v4 images, so it's not a pressing issue for us. Due to this I won't dig further into fixing this for v3.

I mostly wanted to report it as a heads-up in case others stumble upon this. If someone wants to tackle this, he can use this ticket as reference.

[2021-10-07 11:58] mistraloz commented on #262
I @robjuz, to be sure : you have the same issue on V4 slim image ?

[2021-10-07 13:05] robjuz commented on #262
No. Only the V3.

It’s probably related to the Ubuntu version.

V3 is using Ubuntu 18.04 an V4 20.04

[2021-10-27 13:07] mistraloz commented on #262
We do not maintained this version. Please upgrade and if you need support in V4, i will help you.
PR in V3 is still possible but workflow is no more activated.

[2021-11-04 14:07] #40 closed

[2021-11-04 14:09] mistraloz commented on #83
I closed it because it has not had recent activity.
Please, reopen if you need.

[2021-11-04 14:09] #83 closed

[2021-11-04 14:13] mistraloz commented on #91
It's late but i confirm it's fixed (now php-cli can regenerate config if any changes with environment variables)

[2021-11-04 14:13] #91 closed

[2021-11-04 14:32] mistraloz commented on #147
I think it's bad idea because if one process failed or require more resources, the manager (like kubernetes scheduler) can't identify witch one to do magical thinks (like move the process in an other machine).
See : https://docs.docker.com/config/containers/multi-service_container/

Instead of, you can create a separate container for each process. You can use for that the cli image.

But i know it

[2021-11-04 14:38] mistraloz commented on #148
The multistep suggest seem better. I close issue (reopen if you need)

[2021-11-04 14:38] #148 closed

[2021-11-04 14:55] mistraloz commented on #190
Thx @tkaufmann, it's a good suggestion. The fpm part is not very well implemented yet, but i'm not very fluent with it too. If you want to do some enhancement on this part, it's will be very helpful.
Feel free to suggest a PR for that, or create different issues with any information for enhancement to fpm image.

[2021-11-04 16:27] mistraloz commented on #201
it's resolved yet

[2021-11-04 16:27] #201 closed

[2021-11-04 16:30] mistraloz commented on #203
Seem already fixed

[2021-11-04 16:30] #203 closed

[2021-11-04 16:31] mistraloz commented on #205
@moufmouf So are you fixed that or not at end ? I'm not sure.

[2021-11-04 16:48] mistraloz commented on #258
Image expect to be updated each weeks. But you need to pull it again (depend of you docker manager/config).

Currently i have
[code]

It's the current latest version for [node 14](https://nodejs.org/download/release/latest-fermium/)

[2021-11-04 16:48] #258 closed

[2021-11-04 16:51] mbrodala commented on #258
A "proper" solution would be adding digests (see [`docker pull`](https://docs.docker.com/engine/reference/commandline/pull/)) on the consuming side.

But these then need to be updated manually to enforce image updates. Here tools like [Renovate with digest pinning](https://docs.renovatebot.com/docker/#digest-pinning) can be used.

[2021-11-04 16:52] mistraloz commented on #259
It's already fixed
[code]

[2021-11-04 16:54] mistraloz commented on #263
Do you find a fix for that ? Do you still reproduce it ?

[2021-11-04 20:21] polarathene commented on #147
If you run multiple long-lived processes in a container it's often good to have a process manager handle it. For example we use `supervisord` in https://github.com/docker-mailserver/docker-mailserver which bundles many logical services into a single container.

When you have a logical scope it can be ok to have multiple processes. It's better to split out when the units themselves are suitable for

[2021-11-08 08:55] tigitz opened #272 "Support Xdebug on 8.1 now that 3.1 is released"
## Expected Behavior
Xdebug is available in 8.1 images

## Current Behavior
Xdebug is not available in 8.1 images

## Possible Solution
Install Xdebug >= 3.1 https://xdebug.org/download

[2021-11-08 19:54] mistraloz commented on #272
Thx for your comment, i will send a PR for that.

[2021-11-10 09:18] tigitz commented on #272
Hello @mistraloz , thanks for taking care of it.

I've just tried `docker run --rm -ti -e PHP_EXTENSION_XDEBUG=1 thecodingmachine/php:8.1-v4-cli php -i | grep xdebug` but I don't see any output.

Is there something I'm missing ?

Thanks in advance !

[2021-11-10 10:50] mistraloz commented on #272
Thx for your follow up. I forgot some files (and tests was disabled). I try a new PR.

[2021-11-15 10:22] csaeum commented on #206
This should not be closed yet. Since it still affects some

[2021-11-16 10:32] #199 closed

[2021-11-16 10:32] #209 closed

[2021-11-16 10:32] #254 closed

[2021-11-16 10:32] #252 closed

[2021-11-16 10:32] #255 closed

[2021-11-16 10:32] #264 closed

[2021-11-16 12:56] tigitz commented on #272
Work as expected ! Thank you :+1:

[2021-11-16 12:56] #272 closed

[2021-11-26 07:21] benr77 opened #279 "PHP8.1 Fat image does not enable extensions"
## Expected Behavior

The extensions I define via the `PHP_EXTENSIONS` environment variable should be enabled when the container is started.

## Current Behavior

I have the following setting whilst using `thecodingmachine/php:8.1-v4-fpm-node14`

[code]

When the container starts, I see at least that `pdo_sqlite` and `tidy` and `intl` are not loaded. I suspect it's all of them.

## Steps to Reprod

[2021-11-26 07:40] benr77 commented on #279
Apologies it seems there was a misconfiguration on my part.

I had `PHP_EXTENSIONS: gd imap intl pdo_mysql pdo_sqlite tidy` but I ALSO had `PHP_EXTENSION_BLACKFIRE: 1` and it seems that you cannot use both.

Could you confirm that you must use one OR the other method to specify extensions? Thanks

[2021-11-26 08:12] mistraloz commented on #279
Hello @benr77, i'm not sure of my answer (i may confirm later) but in fat version, prefer use `PHP_EXTENSION_MYEXT: "1"` and `PHP_EXTENSIONS: "myext"` for the slim version. I think it's not very clear on documentation and i have to check some elements to clarify that.

[2021-11-26 09:13] iquito opened #280 "Enable mysqli extension for PHP 8.1"
Some extensions, most notably for me the `mysqli` extension, cannot be enabled for PHP 8.1 in the slim image.

## Expected Behavior

As far as I can tell, mysqli is purposefully disabled (the directory in this repository for mysqli in 8.1 does not exist, and that is what is checked by `install_selected_extensions.php`), although it should run fine on PHP 8.1. I did compile PHP 8.1 from sources and

[2021-11-26 11:26] mistraloz commented on #279
I confirm what i said. This is a breaking change during last versions but not well reported in the documentation.
It's required for performance reasons but i have to see if we can allow the both setting (or, else, change the documentation).

[2021-11-26 11:28] mistraloz commented on #280
I will update with mysqli extension (and with others who recently available from the 8.1 released). Probably next week (monday).

[2021-11-26 11:32] iquito commented on #280
Sounds great, thanks!

[2021-11-29 16:09] #280 closed

[2021-11-29 16:15] #279 closed

[2021-12-14 17:24] AymericPlanche commented on #205
As far as I'm concerned, testing to run an image on GCR based on `thecodingmachine/php:8.0-v4-slim-apache` does not work.

Same error `sudo: /usr/bin/sudo must be owned by uid 0 and have the setuid bit set`

[2021-12-14 17:52] mistraloz commented on #205
Is it possible to try with this Dockerfile ?
[code]

[2021-12-20 23:16] orklah opened #285 "Error 503/502 on image pulling"
## Expected Behavior
Successful pulling of php docker image

## Current Behavior
HTTP 503 with Authentication required on https://registry-1.docker.io/v2/thecodingmachine/php/manifests/7.4-v4-cli

## Steps to Reproduce (for bugs)
Visit https://registry-1.docker.io/v2/thecodingmachine/php/manifests/7.4-v4-cli

## Context
The CI of Psalm is failing, for example https://app.circleci.com/pipelines/git

[2021-12-20 23:57] orklah commented on #285
We had a 502 too on the CI of master branch. Also my report is wrong, I tried to access the manifest but I don't get the same error as the CI, I must be missing Authentication while the CI is not.

[2021-12-21 16:51] mistraloz commented on #285
I tried with :
[code]

You may have a temporary issue with dockerhub ? Or maybe the limitation of free dockerhub is reached for you CI server ?

https://www.docker.com/pricing said : "200 images pulls per 6 hours" (it's really few for a CI server)

May you try again ? This may not depend of our image but of docker hub repository :/

[2021-12-21 17:42] orklah commented on #285
Seem to be resolved indeed, must have been temporary or an issue on our end indeed. Thanks for the support, sorry for the trouble...

[2021-12-21 17:42] #285 closed

[2022-01-04 07:38] mbrodala commented on #256
Seems to be fixed by now:

[code]

[2022-01-04 07:38] #256 closed

[2022-01-04 09:52] MrMage commented on #253
Still relevant :-)

[2022-01-11 14:53] #240 closed

[2022-01-11 14:53] #214 closed

[2022-01-19 10:43] ollyollyollyltd opened #286 "Can't enable memcached on php:7.4-v4-slim-apache"
Build fails when trying to enable `memcahced` extension on `php:7.4-v4-slim-apache`

This appears to be caused by a mismatched PHP version,

## Steps to reproduce:
- Create `Dockerfile` with contents:

[code]
- Run `docker build .`

## Expected behaviour:
- Image builds correctly
- PHP has `memcahced` extension installed + enabled

## Actual behaviour:
- Image fails to build with errors:

[code]

[2022-01-19 12:27] ollyollyollyltd commented on #286
## Workaround:

[code]

This will install and enable `memcached` (and it's PHP module dependencies) without triggering the error.

## Investigation

It seems that installing `memcached` via the `PHP_EXTENSIONS` ARG triggers PHP 8.1 to be installed alongside PHP 7.4.  This then means (I think) that `phpenmod` by default points to 8.1, and as we have not installed `memcached` for 8.1 the command fai

[2022-01-26 00:34] jpmschuler commented on #148
Could adding rsync be reconsidered for Dockerfile.slim.cli?
I currently FROM-dupe this image just because of rsync. In our case we use a rsync task with deployer - thus we need full php cli and rsync and can't multistep.

[2022-02-01 13:01] moqmar commented on #204
DMA doesn't really act like a full SMTP server - without anything, it just acts like the `sendmail` command usually does, so it sends the email directly to the recipient SMTP server. With configuration, it can be used to relay `sendmail` to a specified SMTP server (like your ISP, or Sendgrid, etc.).
Without any `sendmail`-like command installed, it's AFAIK basically impossible to use the `mail()`

[2022-02-01 13:42] mistraloz commented on #286
Thx for your investigation. If you may make a PR, it's would be very nice.

It's may require to change :
- This file https://github.com/thecodingmachine/docker-images-php/blob/v4/extensions/core/memcached/install.sh
- And/or this one https://github.com/thecodingmachine/docker-images-php/blob/v4/extensions/core/docker-install.sh#L14

As you can see in second file, we used `apt-cache search --names-

[2022-02-04 10:02] pepijn-hockers opened #287 "Setting up remote database connection for MySQL"
## Expected Behavior
I have used the following Dockerfile to containerize my Laravel application.
[code]

Thus far it's all working and the application is available on [http://app-develop.commoditystats.com.com](http://app-develop.commoditystats.com)

## Current Behavior
However when I try to run ```php artisan migrate```, it stated connection timed out. I was able to fix the problem locally by ad

[2022-02-07 10:49] ollyollyollyltd commented on #286
@mistraloz I'll make a pull request when I have some down time at work, thanks.

[2022-02-10 11:24] mistraloz commented on #148
Sorry but I don't understand well what is your use case. Can you give me an example ?
And a simple apt-get install may fix that (instead of multistep).

The other solution is add a new "ONBUILD" command (but it's will be just the same as `RUN apt update && apt install rsync`, no faster).

[2022-02-10 11:33] mistraloz commented on #287
I'm not sure but the `cert.pem` is generated by the mysql server, not by the client. So our image do not have any mysql server (you have to keep it from your mysql server container). It's may be resolv by a cert shared by your docker manager (like [for kube](https://kubernetes.io/docs/concepts/configuration/secret/)).

Or I misunderstand ?

[2022-02-10 11:37] jpmschuler commented on #148
**My use case** is using a php and composer based deployment tool (deployer), which is run via `thecodingmachine/php:7.4-v4-cli` however that deployment tool has the option to deploy via rsync.
So in my case a multi-step-approach is not feasible, because the build artefacts aren't "just rsynced" but rather the deployment tool generates the target folder in realtime. Thus I'd need php, composer, rs

[2022-02-11 04:34] necmettin commented on #287
This seems like it could be solved with a simple mount/copy.

I'm assuming you already have your cert.pem file (you must).

You can add
[code]
to your Dockerfile. This should solve your problem.

[2022-02-19 20:09] #205 closed

[2022-02-25 08:47] creffect opened #289 "Extension pdo_dblib not available (in php:7.4-v4-apache-node14)"
Hi!

I tryied to activate the extension pdo_dblib in the docker-comompose.yml

[code]

but it's not found in phpinfo().

Is it possible that this is linked to the mission pdb_dblib link in the extensions/7.4 folder?
I found the folder in extensions/core, but not in any other folder (8.1, 8.0, 7.4, 7.3, 7.2, ...)

Thank you for your feedback!

[2022-02-25 11:31] mistraloz commented on #289
Hello. I'm not sure of why but related to the git history, maybe it was just forgot during the migration from V3 to V4.
For instance, if it's important for you, you can add with a new docker build
[code]

Or in your docker compose :
[code]

I'm not sure but it's should works. Please tell me before I will fix on regular images V4.

[2022-02-27 05:13] vcttai commented on #94
For [christian-charzewski-now](https://github.com/thecodingmachine/docker-images-php/issues/94#issuecomment-577607504)'s problem, I found a solution a it worked for me.

We have to make `startup.sh` executable before we mount it into container, by this command:

[code]

After that, this line can run without such that error:
[code]

Hope this helps.

[2022-02-27 09:46] iquito opened #290 "New PHP versions missing / images not building?"
According to the documentation, new PHP versions should show up fairly quickly after release, but at the time of writing this the latest `thecodingmachine/php:8.1-v4-slim-cli` and `thecodingmachine/php:8.1-v4-slim-fpm` images are on PHP 8.1.1 and were last created on January 16th 2022. As far as I can tell all 8.1 images seem to be affected, not sure about other PHP versions.

Maybe building the i

[2022-02-27 20:34] mistraloz commented on #290
I confirm, there is an issue with the ci who deploy new images weekly. You will find related information here #286

I don't have availability to handle this urgent bug at the moment. If anyone can do it, that would be very helpful.

duplicate #286

[2022-02-28 09:17] creffect commented on #289
Hi! Thank you for you quick help!

I tried to run the suggested commands, but i get following warnings (and the build fails):

[code]

Full output of docker build:
[code]

[2022-02-28 11:40] creffect commented on #289
I tried "thecodingmachine/php:7.4-v3-apache-node12" and there everything works fine. So yes, probably it is related to the migration to v4.

[2022-02-28 12:28] mistraloz commented on #289
It's try to install version for 8.1 instead of 7.4. But if i tried with `sudo PHP_VERSION=7.4 ./install`  i had error with :
[code]

I don't have time this week, to help you, sorry. But maybe a good solution may to play manually each command from you log result and find a solution to allow the change onto `php.ini-production`

[2022-03-03 09:18] ollyollyollyltd opened #291 "Running PHP requires sudo credentials"
The PHP executable is renamed to `real_php` and replaced by an alias `utils/php_proxy`, which (among other things) calls `sudo chown docker:docker /opt/php_env_var_cache.php`.

This means that calling the `php` executable with a non-sudo user will fail (or ask for a password).

This can cause problems with cron jobs where you are using a non-root / sudo.

In my `php-fpm` container, which holds a W

[2022-03-03 09:22] ollyollyollyltd commented on #286
Update on this:

I've added a commit that will explicitly pass `-v $PHP_VERSION` whenever `phpenmod` or `phpdismod` is called: https://github.com/ollyollyollyltd/docker-images-php/commit/1a66a2e2f80210bc556b7f55da6f6bbc1732a9d7

`build-and-test.sh` is currently failing on installation `memcached` however:

[code]

I'm currently trying to isolate where the error occurs so I can reproduce it without

[2022-03-03 11:10] ollyollyollyltd opened #292 "Check to see if there are version-specific packages for php-* dependencies"
Currently dependencies for PHP extensions are installed in quite a blunt-force way:

`apt-get install -y --no-install-recommends $DEV_DEPENDENCIES $DEPENDENCIES`

Whereas the extension itself is checked to see if there is a version-specific package available:

[code]

This has caused trouble with conflicting versions of PHP being installed - #286

I propose that rather than directly installing the

[2022-03-07 12:42] reloxx13 commented on #243
pls add this to readme

[2022-03-23 08:49] dreammonkey commented on #206
@mistraloz Are you planning on doing more work on this project or would you advise us to use another project instead ?

[2022-04-06 15:17] homersimpsons opened #294 "[bug] Broken npm version in 8.0-v4-apache-node10"
## Expected Behavior

No issue running `npm --version`

## Current Behavior

[code]

## Possible Solution

Downgrade `npm` ?

## Steps to Reproduce (for bugs)
1. `docker run --name brave_diffie thecodingmachine/php:8.0-v4-apache-node10`
2. `docker exec -ti brave_diffie bash`
3. `npm --version` (in the container)

## Context

I cannot use `npm` anymore in such containers

## Your Environment

* Ver

[2022-04-13 12:32] ghost commented on #290
So one bug on the php 7.4 image is blocking all the other PHP version images? Is there not a way to keep publishing all succesful builds with github actions? https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstrategyfail-fast

I'm in need of a new build of 8.1 for an xdebug issue fix. I think setting this actions property will allow all green php versi

[2022-04-19 08:37] iquito opened #295 "Security issues piling up without new versions"
Since January 16th there have been no more updates to the containers as far as I can tell. This is becoming a security risk:

- PHP 8.1.3, released in February 2022, fixed a filter_var issue (CVE-2021-21708)
- Composer fixed a command injection vulnerability (CVE-2022-24828), see https://blog.packagist.com/cve-2022-24828-composer-command-injection-vulnerability/
- As nothing else about the contain

[2022-04-19 08:52] iquito commented on #290
I created a new issue about the security issues since there are no more updates to the images (https://github.com/thecodingmachine/docker-images-php/issues/295). I do hope there will be new versions, otherwise it will be inevitable to switch to other docker images as the number of security threats start to increase.

[2022-04-19 09:14] nguyenk commented on #295
Hello @iquito,

You are totally right, and we fully agree that these images are good only if being kept current. We are very frustrated on our side also.

Unfortunately, we are too short in 'open source' time since start of the year so we couldn't fix the issue yet.

We hope we can do something about it next week, and publish a fix before the 6th of may. I'll do my best to find some help before in

[2022-04-19 09:23] #286 closed

[2022-04-19 09:23] #290 closed

[2022-04-19 09:41] iquito commented on #295
Thanks for the quick response!

I understand that it is sometimes hard to make time for open source projects, which is why it might make sense to be open for donations (so at least some of the work can be financed, and Github does have an option to add a donation button) and/or to add more maintainers who can be available when others are not available - something like that, just to be more resilie

[2022-04-19 10:22] nguyenk commented on #295
@iquito we are definitively considering looking for funding.

Thank you for your issue and alert, it chocked us to realize it was broken for so long.

I finally managed to get @moufmouf (owner of the repo) to take some time looking at the PR. We merged it (a bit fast I must say, but still it could not get worse so...).

I'll keep you posted on the build !

[2022-04-19 10:25] nguyenk commented on #295
@iquito Build Jobs have passed ! :tada:

Keep us posted !

Thank you for your support.

[2022-04-19 10:26] #295 closed

[2022-04-19 10:27] #292 closed

[2022-04-19 10:58] iquito commented on #295
Thanks a lot, it works perfectly!

[2022-04-19 17:07] #287 closed

[2022-04-20 10:04] jpmschuler opened #296 "Git errors using docker images *-v4-cli-node16 in GitLab runner"
## Expected Behavior
I have a Gitlab CI job which just does `git config gui.encoding utf-8` in a before script. Which worked in old image versions.

## Current Behavior
starting with 7.4.28 and 8.0.17 the  v4-cli-node16 reports `fatal: not in a git directory`

## Steps to Reproduce (for bugs)
I made a public gitlab repo to reproduce https://gitlab.com/jpmschuler/codingmachine-php-image-test/-/blob

[2022-04-20 11:05] jpmschuler commented on #296
Walked through git commits and tried to understand the docker files and found a difference:
Ubuntu 20.04.3 LTS
vs
Ubuntu 20.04.4 LTS
so it seems to be the base image used

[2022-04-20 11:56] jpmschuler commented on #296
In the end it is the new git security check - although the git version is the same:
[code]

[2022-04-20 11:59] jpmschuler commented on #296
So an easy `git config --global --add safe.directory $(pwd)` is feasible here and this is by all means out of scope of being an issue of this repo. Sorry to bother.

[2022-04-20 11:59] #296 closed

[2022-04-20 12:07] nguyenk commented on #296
Hello @jpmschuler,

Thank you for keeping us posted!

Cheers

[2022-04-21 09:05] WillyReyno opened #297 "CRON_USER variable defaults to root when not set"
## Expected Behavior / Current Behavior

When `CRON_USER` variable is not set in the docker-compose file, it automatically fallbacks to `root`, where we should expect it to fall back to the current user and not root.

## Steps to Reproduce (for bugs)
1. Don't define a `CRON_USER` in your docker-compose
2. Notice that all CRON tasks are run as root

## Context

I deployed a Laravel app recently, wh

[2022-04-22 15:46] robjuz commented on #147
@that0n3guy You don't need a supervisord to run laravel queue

This is what I'm using in production for one of my projects

`docker-compose.yml`
[code]

[2022-04-22 16:07] robjuz opened #298 "Add jq package"
I'm working with shopware 6 and need the `jq` package installed. I created my own image but I think it would be nice and helpful to have this little tool preinstalled.

Can I send you a PR?

[2022-04-25 12:22] mistraloz commented on #297
Hello Willy.
root it's the only one user who exist in any case so it's easier like that. And it's on documentation :
[code]

In addition, it's will be a breaking change if we change that. If you want, we can speak about that for a V5 (but the most secure way maybe to generate an error when no cron user was specified).

[2022-04-26 11:55] andersonpem opened #299 "ARM Build for Apple Silicon compatibility"
I'm trying to use the thecodingmachine/php:7.2-v4-apache-node12 on a M1 (ARM) Mac. It seems something is not built for ARM in the images.

## Expected Behavior
Pull to be successful

## Current Behavior

`
docker pull thecodingmachine/php:7.2-v4-apache-node12
`

Pull throws:
`no matching manifest for linux/arm64/v8 in the manifest list entries`

## Possible Solution

Check which part of the image

[2022-04-26 11:59] andersonpem commented on #299
I found a temporary fix until there's an ARM build:
https://onexlab-io.medium.com/apple-m1-chip-no-matching-manifest-for-linux-arm64-v8-docker-mysql-5142060a9309

[2022-04-26 12:01] andersonpem commented on #299
I think that actually the MySQL was the one to blame on this.

[2022-04-26 12:10] evs-xsarus opened #300 "Install lz4 by default"
When I'm building Magento, the result is compressed for deployment. Because Magento has lots of small files and speed is important, I use tar with lz4. Currently, I need to add lz4 with a beforescript.

Could it be added to the default image so I can improve the deploy performance even more?

[2022-04-26 12:20] andersonpem commented on #299
Yup. I confirmed it. The image works like a charm.

[2022-04-27 12:33] andersonpem opened #301 "MacOS (ARM - M1): Tini PID has changed and it delays Apache's start"
Hello guys. Hope you're doing well. I really love your project and want to keep using it for a long time.
I've run into an interesting situation here. Apache's start is slow in a M1 Mac due to a Tini issue.

Something about asking for the Linux build of the image makes Tini change its PID. This makes the image take like 27 seconds in a warning before Apache starts.

## Expected Behavior
[code]

##

[2022-04-27 12:40] andersonpem commented on #301
Checking the image running, with top.
It seems like sudo is running with PID 1, probably the command that starts Apache
![image](https://user-images.githubusercontent.com/6232674/165519934-13ccfa89-267d-4ca5-bfc2-cda51f857f7f.png)

[2022-04-28 20:53] verbruggenalex opened #302 "Install latest git version. Current version on image is over 2 years old."
## Expected Behavior
[code]

## Current Behavior
[code]

## Possible Solution

I can not find a better way to get the latest version of git. Maybe you know how to echo the ppa like you do for php?

Include the following:
[code]

At:
https://github.com/thecodingmachine/docker-images-php/blob/4207a2f287b1592442dfcc192a4282dd9f43e51f/Dockerfile.slim.cli#L22-L30

## Context
I require the `git worktree

[2022-04-28 21:15] ghost commented on #302
Added pull request with same ppa method as used for php.

[2022-04-29 11:10] andersonpem commented on #301
This looks like a very elegant solution to the PID1 issue.

https://github.com/just-containers/s6-overlay

https://kreuzwerker.de/post/managing-multi-process-applications-in-containers-using-s6

[2022-04-29 11:13] andersonpem commented on #301
This excerpt from "The Docker Way" section is especially interesting for sysadmins:

https://github.com/just-containers/s6-overlay#the-docker-way

[2022-05-01 10:37] verbruggenalex opened #304 "Create document root folder if it does not exist before starting apache"
## Expected Behavior
Apache should always be able to start

## Current Behavior
If document root folder does not exist apache can not start.

## Possible Solution
Create document root folder on system before starting apache.
It may be removed after apache has started

## Steps to Reproduce (for bugs)

- Set APACHE_DOCUMENT_ROOT to non existing folder
- Start container
- Check logs

## Context
In t

[2022-05-01 10:39] #304 closed

[2022-05-01 10:40] ghost commented on #304
Was not the real issue I think. CI always start a command instead of apache. Thats why it was not starting.

[2022-05-01 13:02] verbruggenalex opened #305 "Feature request: Allow for automatic fpm handling on apache images"
## Expected Behavior
Define APACHE_FPM_HOST and APACHE_FPM_PORT variable.
Automatically have the apache image set the handler to use fpm and enable/disable extensions.

## Current Behavior
To me it is a bit complicated to use the fpm image with apache.
Existing issue: https://github.com/thecodingmachine/docker-images-php/issues/195

## Possible Solution
It would be nice if we could simply set an e

[2022-05-05 16:37] bmmarko opened #306 "Additional PHP extensions installation"
Hi all

First of all, great work **thecodingmachine** you surely save developers lives with this bundle of PHP images!!!

I'm wondering how additional extensions could be configured?
For example, I was trying to add German PHP extension but without success. I can install OS level dependencies e.g. German client and server, but not PHP extension.

Couldn't find documentation for this, and in the ex

[2022-05-06 14:12] evs-xsarus commented on #306
How to do this using GitLab CI/CD ?

[2022-05-06 16:39] mistraloz commented on #306
Hello Marko. Thx for your support.

Did you speak about Gearman pecl extention ?

You can make a PR in this repository with a new file like this one https://github.com/thecodingmachine/docker-images-php/blob/v4/extensions/core/rdkafka/install.sh ans symbolic link like others for each version here : https://github.com/thecodingmachine/docker-images-php/tree/v4/extensions/8.1

Then, use make command

[2022-05-06 17:51] #289 closed

[2022-05-06 22:25] dndeus commented on #301
Any updates on this? Thanks

[2022-05-07 13:47] mistraloz commented on #301
Hello. Currently amd64 is the only one arch supported by this image. We will working to support arm64 this month. The first step is to deploy a multi arch image (arm64 and amd64).

I'm not sure that s6-overlay may help about related issue. It's cleanest (so if someone want to change it, i will merge it) but currently, i think that we run some binary built for amd so lot of delays are related to th

[2022-05-07 15:22] andersonpem commented on #301
I tried to make the image multiarch, it requires quite an amount of work. We gotta introduce a build parameter for the architecture and use it like in the Tini binaries (add an -arm64 suffix in wget URLs for example).
I'll see if the  S6 implementation is adequate to the matte of the delayed start and add a pull request if so.
Tini allows the use of ctrl+c in the container. I'll see if S6 also all

[2022-05-07 15:26] andersonpem commented on #301
We got to use the buildx and build from the ubuntu base image in different architectures. If you need assistance in this matter, please keep me in the loop. I know one thing or two about Docker and I might be of help.

[2022-05-07 19:31] andersonpem commented on #301
This might be of use for multi architectural builds.
The latest version of buildx makes it easier.
https://www.docker.com/blog/dockerfiles-now-support-multiple-build-contexts

[2022-05-07 19:37] csaeum commented on #206
How does it go on here?
Not much happening here lately?

[2022-05-08 08:55] mistraloz commented on #206
Yes yes... it's difficult currently. I should have more time soon. In addition, if someone would like help us to manage thoses images, s/he can contact me (we will continue to support but sometime we have less time so someone in backup maybe helpful).

[2022-05-09 21:08] #291 closed

[2022-05-10 10:04] Korbeil opened #307 "Migrate to Blackfire v2 client"
## Expected Behavior
When using `PHP_EXTENSION_BLACKFIRE`, I want to be able to profile my PHP code.

## Current Behavior
When using `PHP_EXTENSION_BLACKFIRE` to use blackfire profiling, I have this error:
[code]

## Possible Solution
We are still using v1 client while v2 is out and fix that issue.

[2022-05-11 08:00] bmmarko commented on #306
Hello @mistraloz
Thank you very much for your help! Works great, tested locally and I will create PR.

[2022-05-11 11:49] alexmaurer-madis commented on #206
I had similar issue and found why.

The message was  the following :
[code]

My container was created with Portainer and the **user field** under **Command and Logging** has been set automatically to "root" instead of "nobody".

The user has already been specified in the Dockerfile with
`USER nobody`

So you can leave the field under portainer empty, it will be automatically assigned to **nobody**

[2022-05-12 11:35] andersonpem commented on #301
When I build it for ARM64, Tini stops complaining. And everything works as expected. I'll see if I can finish a build script proper for multiarch soon.

[2022-05-12 11:45] andersonpem opened #309 "Feature Request: multi-architecture build structure (linux/amd64 and linux/arm64)"
# Leverage architecture on build process

As Apple Silicon (ARM64/v8) becomes more ubiquitous, and companies like Amazon have instances that are cheaper using the ARM architecture, an ARM64 build of this image is very interesting to have.

As a now Mac / Linux user, I feel the performance loss of not using native ARM packages when running containers from this project.

Also: Tini misbehaves when u

[2022-05-12 18:40] dndeus commented on #301
@andersonpem Is it possible to provide an example of an `docker-compose.yml`?

Thanks!

[2022-05-13 00:12] andersonpem commented on #301
Hey @dndeus I'll try to build the entire chain of images and I'll give you a docker-compose to try it. But I had to remove all images from my PC to use the AMD64 variants to work hahahah
From what I tried, with one of the variants, the Tini issue disappeared when the image was built for ARM64.
I'll see this as fast as I can :)

[2022-05-17 15:09] jsuos commented on #206
Bro, you saved me after hours of becoming more and more suicidal.

<3

[2022-05-17 22:57] andersonpem commented on #309
Gotta tell you, Orbit is great to generate dockerfiles. I'll definitely use this in my projects.

[2022-05-18 00:50] andersonpem commented on #309
![image](https://user-images.githubusercontent.com/6232674/168934816-b0090bfe-f68a-47b2-aa14-4dabb15e8b01.png)
I managed to pass the entire process on a Mac. I had to comment out some tests that misbehave in terms of permissions on a Mac. Probably because of filesystem differences.

Now that I know the images are build-able, I'll get back to my Linux x64 machine and run the build process with all

[2022-05-23 09:23] andersonpem commented on #309
Although Docker Buildx allows mullti-architecture builds and multi-architecture manifest push to the registry, it cannot export a multi-architecture build manifest to the local machine for testing, at least for the time being. (This considers using a container as a builder and using the --load parameter to get the image back to the host docker image list, which is necessary to build the other test

[2022-05-30 06:19] verbruggenalex opened #310 "Use an absolute path for the global composer bin dir"
## Expected Behavior
When running a binary through [Symfony\Component\Process\ExecutableFinder](https://github.com/symfony/process/blob/318718453c2be58266f1a9e74063d13cb8dd4165/ExecutableFinder.php#L47) it should be able to find the binary automatically.

## Current Behavior
When using [grumphp](https://github.com/phpro/grumphp) which relies on [Symfony\Component\Process\ExecutableFinder](https://

[2022-06-06 18:38] homersimpsons commented on #294
(No, this still is broken)

[2022-06-09 13:54] andersonpem commented on #309
The UTM project came to my knowledge. Now I can spin an ARM64 Debian on my M1 Mac and perform the tests properly.

UTM allows you to run ARM64, AMD64 and even SPARC on the Mac M1. And they have a lot of pre-made recipes.

My Debian is a beast! Never saw a debian so snappy.

https://mac.getutm.app/gallery/

Pro-tip: update the linux kernel for full-screen support.

I'll be able to run the test suit

[2022-06-09 20:47] andersonpem commented on #309
All the tests passed in Debian running on ARM64. Except one: run Blackfire.
However, the current Blackfire implementation prevents it from having an ARM version.
I'll refactor this portion of the code and maybe I can put in Blackfire v2 support too.

The suggestion in this pull request is very practical. I'll hardcode a v1 method for getting theblackfire client for now.
https://github.com/thecodin

[2022-06-17 16:09] andersonpem commented on #309
PR is available if somebody wants to build this locally for testing or for using urgently:
https://github.com/thecodingmachine/docker-images-php/pull/312

[2022-06-17 16:29] andersonpem commented on #301
You can build the image yourself now. Check out my branch:
https://github.com/thecodingmachine/docker-images-php/pull/312

[2022-06-22 07:36] mistraloz commented on #298
Sorry, i didn't not see your message before. No, jq is not relevant for this image, it's a custom requirement but you can built your own for staging/production and use regular one in development (in this case, you just have to use `STARTUP_COMMAND_1` env to install it at start).

[2022-06-22 07:36] #298 closed

[2022-06-28 12:46] sandermarechal commented on #294
Can confirm, this is broken for me too.

[2022-06-28 16:47] andersonpem commented on #309
I made a mistake in variable naming in the Dockerfile according to Buildkit's specification. Working on it. Testing again.

[2022-07-01 18:31] #297 closed

[2022-07-02 20:41] #300 closed

[2022-07-04 11:31] guoard opened #314 "How to install and enable all possible PHP extensions"
Hi,
Thank you for your awesome Dockerfiles.

How can I install and enable **all** PHP extensions which are available in `extensions` directory for every php version  with `thecodingmachine/php:${PHP_VERSION}-v4-slim-apache` image.

Does this Dockerfile do the job?

[code]

Or do it like this?

[code]

[2022-07-05 02:27] #302 closed

[2022-07-07 13:53] #305 closed

[2022-07-16 15:19] #307 closed

[2022-07-18 10:46] sandermarechal commented on #294
Any update on this? I have submitted a PR with the fix.

[2022-07-18 18:41] #306 closed

[2022-07-19 16:33] #294 closed

[2022-07-26 14:32] olenagi opened #317 "Last version of extension mongodb in thecodingmachine/php:8.1-v4-fpm"
Hi! In image thecodingmachine/php:8.1-v4-fpm version of mongodb extenion is 1.13. I need 1.14 for update library mongodb/mongodb up to 1.13. Please update the version of mongodb extension. Or tell me please how i can do it myself.

[2022-07-27 11:52] mistraloz commented on #301
closed by #312

[2022-07-27 11:52] #301 closed

[2022-07-27 11:53] mistraloz commented on #307
closed by #312

[2022-08-01 19:41] qwyk opened #318 "8.0-v4-slim-fpm: Syntax error: "&&" unexpected"
Hi,

Running a build with 8.0-v4-slim-fpm currenly fails with a syntax error on the INSTALL_CRON portion.

## Current Behavior
Build fails with `Syntax error: "&&" unexpected`

[code]

[2022-08-02 12:19] homersimpsons opened #319 "Slim images now require `$TARGETOS` and `$TARGETARCH` args"
## Expected Behavior

The following command should execute without any issues:
[code]

## Current Behavior

This currently fails with the following output:

[code]

## Possible Solution

For the moment, one has to define `$TARGETOS` and `$TARGETARCH`.

They could be set to the previous default in order to keep the same behavior.

Another option would be to detect the current architecture, I do not

[2022-08-08 07:28] minermartijn opened #320 "Enable Ghostscript"
Your issue may already be reported!
Please search on the [issue tracker](../../../issues) before creating one.

I took out all the text, just because its not really an issue.
Its a request for help.

Is there any way i can enable GhostScript using this docker image?
Do i need to create a dockerfile myself?, I never done that before.

But i want to create thumbnails of PDF, and what i found is that

[2022-08-09 11:23] quentint commented on #317
Hey, same request here. Updating mongodb, or documenting a way to specify the required version would be awesome :)

[2022-08-10 23:03] OscarBC commented on #320
I've been able to install it using a DockerFile.

Dockerfile-apache file:

[code]

docker-compose.yml file:

[code]

[2022-08-23 15:19] mistraloz commented on #314
You should do like that :

[code]
/!\ ARG should be before the first "FROM" instruction of the Dockerfile file.

[2022-08-23 15:27] mistraloz commented on #320
This answer should work but i recommand this one instead :
[code]

[2022-08-29 12:44] VENTOURA opened #321 "Memcached extension is not working in php8 images"
I am trying to use php8 images but looks like memcashed extension is not working, I am getting this error:
PHP Warning:  PHP Startup: Unable to load dynamic library 'memcached.so' (tried: /usr/lib/php/20200930/memcached.so (/usr/lib/php/20200930/memcached.so: undefined symbol: php_msgpack_serialize), /usr/lib/php/20200930/memcached.so.so (/usr/lib/php/20200930/memcached.so.so: cannot open shared o

[2022-08-30 09:00] #319 closed

[2022-08-30 09:00] #309 closed

[2022-08-30 09:00] #318 closed

[2022-08-30 12:36] bastnic commented on #318
Same issue since the patch on the last release
https://github.com/thecodingmachine/docker-images-php/runs/8091397792?check_suite_focus=true

[code]

[2022-08-30 12:55] tehmaestro opened #324 "Docker container build fails"
It worked a couple of hours ago, but now I get this with `docker compose build`

[code]

[2022-08-30 14:19] defser opened #326 "Command NPM not found"
Hello,

We're experiencing a error when using the latest image after the changes from today.

Images used:
thecodingmachine/php:8.0-v4-fpm-node16
    build : [docker.io/thecodingmachine/php@sha256:ee7e0a414bae3c256ac5874403d3b53a918a4ffb3f62bf8d60b8244ea88ecf03](http://docker.io/thecodingmachine/php@sha256:ee7e0a414bae3c256ac5874403d3b53a918a4ffb3f62bf8d60b8244ea88ecf03)

bash: npm: command not fo

[2022-08-30 14:20] MacSim75 opened #327 "ini file doesn't exist under /etc/php/8.1/mods-available"
I am using `thecodingmachine/php:8.1-v4-apache` image in my CI.
It was working fine until today - no changes on our side - but I am now having warnings about ini files which doesn't exist under `/etc/php/8.1/mods-available` when the job tries to enable the mods.
[code]
As the mods can't be enabled, my CI job fails and I am unable to run a `composer install` after that cause some dependencies are m

[2022-08-30 14:33] jdmcalee commented on #324
Same here. Looks like it's being worked on in https://github.com/thecodingmachine/docker-images-php/pull/325

[2022-08-30 16:30] mistraloz commented on #327
Hello. There is a trouble with multiarch build. I hotfixed it just now by a rollback of all images (except php7.2 one) to previous working version. A real fix is expected for tomorrow evening.

[2022-08-30 16:31] mistraloz commented on #326
It's maybe related to #327

[2022-08-30 19:58] bbprojectnet commented on #326
Same here :(

[2022-08-31 07:37] defser commented on #326
@mistraloz i do not see the nodejs commands in the image layer details. (thecodingmachine/php:8.0-v4-fpm-node16)

You can see the possibly missing commands at: (8.1.6-v4-fpm-node16)
https://hub.docker.com/layers/php/thecodingmachine/php/8.1.6-v4-fpm-node16/images/sha256-b62dc7f26ec6f01e7b7f5a43529c434f94eeac9f0343b974cd8d5e7a2b1a9b59?context=explore

[2022-08-31 07:39] defser commented on #326
The commands missing in thecodingmachine/php:8.0-v4-fpm-node16

`ARG NODE_VERSION`

`RUN |3 PHP_EXTENSIONS= INSTALL_CRON=1 **NODE_VERSION**= /bin/sh -c if [ -n "$**NODE_VERSION**" ]; then     sudo apt-get update &&     sudo apt-get install -y --no-install-recommends gnupg &&     curl -sL https://deb.nodesource.com/setup_${**NODE_VERSION**}.x | sudo bash - &&     sudo apt-get update &&     sudo apt

[2022-08-31 07:50] defser commented on #326
@mistraloz i think it is not related to #327 because php:8.0-v4-fpm-node16 implies that node16 is installed but it is not.

See image: https://hub.docker.com/layers/php/thecodingmachine/php/8.0-v4-fpm-node16/images/sha256-08d8923af33b90d8676fd9ec88fb29beef2cad9e1d85c5ec46205b54961cad53?context=explore

Also the COMPRESSED SIZE  = 97.06 MB which is very low comparing to 8.1.6-v4-fpm-node16 (COMPRES

[2022-08-31 08:56] mistraloz commented on #326
You have right. Thx for your investigation.
I hotfixed it. Can you try again :
[code]

Node variants for fpm and cli was forgot during the hotfixing. It's fixed.

[2022-08-31 08:56] #326 closed

[2022-08-31 11:23] defser commented on #326
@mistraloz thank you

[2022-08-31 12:40] defser opened #329 "php extensions defined in the PHP_EXTENSIONS environment variable are not installed"
Using image 8.0-v4-fpm-node16 (possible more images affected)

Set environment variable PHP_EXTENSIONS to "intl gd sqlite3 pdo_sqlite imagick xdebug"

Exception:
Invalid extension name found in PHP_EXTENSIONS environment variable. Found: 'intl'. Available extensions: calendar, ctype, curl, dom, exif, ffi, fileinfo, ftp, gettext, iconv, mbstring, opcache, pdo, phar, posix, readline, shmop, simplexm

[2022-09-08 17:03] beejaz commented on #329
It doesnt work that way. ARG and ENV var is not working the same. As per the readme;

[code]

[2022-09-08 17:09] beejaz commented on #195
Nginx need to have the static files, not the code. So I use it like this in a multi stage Dockerfile (simplified below):
[code]

[2022-09-08 20:17] Wohlie opened #331 "SOAP extension is missing for PHP 8.0 CLI image"
Hi, I'm using the docker CLI images from 7.2 up to 8.1 in our CI pipeline. All jobs perform well, except 8.0 which fail due to the missing SOAP extension.

## Expected Behavior
SOAP extension must be available.

## Current Behavior
SOAP extension is not available.

## Steps to Reproduce (for bugs)
[code]

[2022-09-14 14:40] joyfullservice opened #332 "XDebug no longer working in php:8.0-v4-cli"
My GitLab runner job is suddenly failing when attempting to generate code coverage reports through xdebug. Nothing has changed on my script, so it appears that something must have changed with the `php:8.0-v4-cli` image.

The job ran fine on August 26, 2022 (the last time I ran it).

Now when I run the same job, it seems as if xdebug is not even installed. If I change the runner to use the `php:8.

[2022-09-21 09:46] #329 closed

[2022-09-21 09:46] #327 closed

[2022-09-21 09:46] #331 closed

[2022-09-23 08:46] mistraloz commented on #332
I just tried :
[code]

So i think it's now fixed. Please reopen if not with more informations.

[2022-09-23 08:46] #332 closed

[2022-09-23 08:47] #320 closed

[2022-09-23 08:47] #314 closed

[2022-09-23 08:53] mistraloz commented on #317
It's now fixed
[code]

[2022-09-23 08:53] #317 closed

[2022-09-23 08:55] mistraloz commented on #331
I'm confirm the fix

[2022-09-23 10:10] Wohlie commented on #331
CI pipeline is green now. Thanks, @mistraloz!

[2022-09-23 14:32] joyfullservice commented on #332
Yes, I can confirm that it is working correctly now. Thank you so much!!  👍 👏

[2022-09-26 06:20] guoard opened #333 "Can not enable swoole extension in amd64"
Hi,
When i'm trying to build fat image `thecodingmachine/php:7.2-v4-apache` with custom enabled PHP extensions i get this error:

[code]

## Dockerfile:

[code]

## Context

I Saw commits about disabling `swoole` for arm64 build but I'm using amd64...

## Your Environment

* Version used: `thecodingmachine/php:7.2-v4-apache`, `thecodingmachine/php:7.3-v4-apache`, `thecodingmachine/php:7.4-v4-apach

[2022-09-26 09:06] mistraloz commented on #333
Fix in WIP (but it's looong to test and so looong to deploy : it's will be done today).
For legacy version, you may try `thecodingmachine/php:7.2.34-v4-apache` but i'm not sure if this image still working.

[2022-09-26 09:18] guoard commented on #333
Thank you so much.

[2022-09-26 09:18] #333 closed

[2022-09-26 20:10] guoard opened #335 "Can not enable uploadprogress extension in php:8.0-v4-apache image"
Hi,
When i build image `thecodingmachine/php:8.0-v4-apache` with custom enabled PHP extensions i get this error:
[code]

## Dockerfile
[code]

## Your Environment

* Version used: `thecodingmachine/php:8.0-v4-apache`
* Operating System and version: ubuntu 22.04

Thank you for your time.

[2022-09-27 11:40] mistraloz commented on #335
I confirm. I will fix it.
[code]

[2022-09-28 08:20] mistraloz commented on #335
It fixed

[2022-09-28 08:20] #335 closed

[2022-09-30 10:49] #263 closed

[2022-10-04 18:49] afdolriski opened #337 "Slim v4 image failed to build with node"
## Expected Behavior

Using this Dockerfile:
[code]
The build should be finished without error and having node 12 installed.

## Current Behavior

The build process will produce an error:
[code]

## Possible Solution

I imagine 2 options:

1. On [slim file](https://github.com/thecodingmachine/docker-images-php/blob/ea27aba6d55e0ad90468a5a2410ff55c0ef47a5d/Dockerfile.slim.fpm#L326) remove this comm

[2022-10-26 14:13] JorindeReijnierse opened #339 "Node18 (LTS) Support"
Node18 has become the LTS version yesterday. Are you planning to add docker images for php & node 18?

[2022-10-31 10:37] f3l1x commented on #337
Same issue at me.

[code]

[code]

[2022-10-31 20:48] afdolriski commented on #337
For anyone having same problem, you can use this image instead for temporary fix:
[code]

[2022-11-03 10:57] mistraloz commented on #337
Hum i think we can just change
[code]

I think there are more issue related to npm install but we will more to v5 in few month so maybe we can use this quickfix for instance.

[2022-11-03 13:00] mistraloz commented on #339
It's can be easy to add them. I will take a look today.

[2022-11-10 17:09] #339 closed

[2022-11-18 12:28] beejaz opened #343 "Adding extensions in Dockerfile to slim image: The following extension(s) is not supported: redis"
## Expected Behavior
redis extension is added to thecodingmachine/php:8.1-v4-slim-fpm image in Dockerbuild process when using ARG PHP_EXTENSIONS in Dockerfile as described here https://github.com/thecodingmachine/docker-images-php#compiling-extensions-in-the-slim-image

## Current Behavior
Error message at end of build thecodingmachine/php:8.1-v4-slim-fpm:
[code]

If i instead run with the image t

[2022-11-20 21:56] beejaz commented on #343
For some reason, it worked when I forced it, maybe I had some old version in cache ?

[code]

Im closing this.

[2022-11-20 21:56] #343 closed

[2022-11-22 13:30] mistraloz opened #344 "Update readme with process to build & test"
The [README](https://github.com/thecodingmachine/docker-images-php/blob/v4/README.md), mentions a script called `build-and-test.sh` that doesnt exists 😒

_Originally posted by @agarzon in https://github.com/thecodingmachine/docker-images-php/issues/342#issuecomment-1322909387_

[2022-11-22 13:32] mistraloz commented on #344
TODO Replace with detail for make command (and orbit, bake, bash unit, etc)